Repository warden-protocol/wardenprotocol, changes with the labels that .github/labeler.yml gives for each.
All labels: protocol, protobuf, x-warden, x-intent, shield, test, docs, go-client, keychain, wardenkms, spaceward, contracts, snap

.github/labeler.yml:

protocol:
  - warden/**

protobuf:
  - proto/**

x-warden:
  - warden/x/warden/**
  - proto/warden/warden/**

x-intent:
  - warden/x/intent/**
  - proto/warden/intent/**

shield:
  - shield/**
  - proto/shield/**

test:
  - "**/*_test.go"
  - tests/

docs:
  - docs/**

go-client:
  - go-client/**

keychain:
  - keychain-sdk/**

wardenkms:
  - cmd/wardenkms/**

spaceward:
  - spaceward/**

contracts:
  - contracts/**

snap:
  - snap/**

Updated distribution and release schedule (#1706)
  docs/developer-docs/docs/tokens/ward-token/distribution.md
  docs/developer-docs/docs/tokens/ward-token/supply.md
  docs/developer-docs/static/img/ward-distribution-1.png
  docs/developer-docs/static/img/ward-distribution-2.png
Labels: docs

edited the structure of the tokens section
  docs/developer-docs/docs/learn/glossary.md
  docs/developer-docs/docs/learn/introduction-to-warden.md
  docs/developer-docs/docs/learn/warden-manifesto.md
  docs/developer-docs/docs/learn/warden-networks.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/barra-overview.md
  docs/developer-docs/docs/tokens/introduction.md
  docs/developer-docs/docs/ward/airdrop-stages.md
  docs/developer-docs/docs/ward/demand.md
  docs/developer-docs/docs/ward/distribution.md
  docs/developer-docs/docs/ward/incentives.md
  docs/developer-docs/docs/ward/introduction.md
  docs/developer-docs/docs/ward/supply.md
  docs/developer-docs/docs/ward/ward-token/_category_.json
  docs/developer-docs/docusaurus.config.ts
  docs/developer-docs/sidebars.ts
  docs/developer-docs/vercel.json
  docs/help-center/docs/warden-app/create-your-coin.md
Labels: docs

fixed a text of one link
  docs/developer-docs/docs/learn/introduction-to-warden.md
Labels: docs

fixed a mistake in vercel.json
  docs/developer-docs/vercel.json
Labels: docs

Docs tokens structure (#1707)
  docs/developer-docs/docs/learn/glossary.md
  docs/developer-docs/docs/learn/introduction-to-warden.md
  docs/developer-docs/docs/learn/warden-manifesto.md
  docs/developer-docs/docs/learn/warden-networks.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/barra-overview.md
  docs/developer-docs/docs/tokens/introduction.md
  docs/developer-docs/docs/ward/airdrop-stages.md
  docs/developer-docs/docs/ward/demand.md
  docs/developer-docs/docs/ward/distribution.md
  docs/developer-docs/docs/ward/incentives.md
  docs/developer-docs/docs/ward/introduction.md
  docs/developer-docs/docs/ward/supply.md
  docs/developer-docs/docs/ward/ward-token/_category_.json
  docs/developer-docs/docusaurus.config.ts
  docs/developer-docs/sidebars.ts
  docs/developer-docs/vercel.json
  docs/help-center/docs/warden-app/create-your-coin.md
Labels: docs

wardend: statically link binary on alpine with musl
  cmd/wardend/Dockerfile
  justfile
  wardend.just
Labels: none

wardend: statically link binary on alpine with musl
  cmd/wardend/Dockerfile
  justfile
  wardend.just
Labels: none

wardend: bump cosmos/evm to latest available commit
  CHANGELOG.md
  go.mod
  go.sum
  warden/app/app.go
  warden/app/precompiles.go
Labels: protocol

rc3 -> rc4
  docs/developer-docs/docs/learn/warden-networks.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/barra-overview.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
Labels: docs

rc3 -> rc4 (#1710)
  docs/developer-docs/docs/learn/warden-networks.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/barra-overview.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
Labels: docs

wardend: bump cosmos/evm to latest available commit
  CHANGELOG.md
  go.mod
  go.sum
  warden/app/app.go
  warden/app/precompiles.go
Labels: protocol

wardenkms: fix dockerfile
  cmd/wardenkms/Dockerfile
Labels: wardenkms

rc4 -> rc5
  docs/developer-docs/docs/learn/warden-networks.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/barra-overview.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
Labels: docs

wardenkms: fix dockerfile
  cmd/wardenkms/Dockerfile
Labels: wardenkms

resolved a conflict
  cmd/wardenkms/Dockerfile
Labels: wardenkms

rc4 -> rc5 (#1711)
  docs/developer-docs/docs/learn/warden-networks.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/barra-overview.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
Labels: docs

wardend: prepare release v0.7.0
  CHANGELOG.md
  warden/app/app.go
Labels: protocol

wardend: prepare release v0.7.0
  CHANGELOG.md
  warden/app/app.go
Labels: protocol

updated screenshots and the narrative, added kaibot
  docs/help-center/docs/warden-app/earn-rewards.md
  docs/help-center/docs/warden-app/explore-ai-agents.md
  docs/help-center/docs/warden-app/fees.md
  docs/help-center/docs/warden-app/introduction.md
  docs/help-center/docs/warden-app/manage-assets.md
  docs/help-center/docs/warden-app/manage-your-wallet.md
  docs/help-center/docs/warden-app/quick-start.md
  docs/help-center/docs/warden-app/use-the-chat.md
  docs/help-center/static/img/warden-app/create-your-coin-1.png
  docs/help-center/static/img/warden-app/create-your-coin-2.png
  docs/help-center/static/img/warden-app/earn-rewards-1.png
  docs/help-center/static/img/warden-app/explore-ai-agents-1.png
  docs/help-center/static/img/warden-app/introduction-1.png
  docs/help-center/static/img/warden-app/manage-assets-1.png
  docs/help-center/static/img/warden-app/manage-assets-2.png
  docs/help-center/static/img/warden-app/manage-assets-3.png
  docs/help-center/static/img/warden-app/manage-your-wallet-1.png
  docs/help-center/static/img/warden-app/manage-your-wallet-2.png
  docs/help-center/static/img/warden-app/manage-your-wallet-3.png
  docs/help-center/static/img/warden-app/manage-your-wallet-4.png
  docs/help-center/static/img/warden-app/manage-your-wallet-5.png
  docs/help-center/static/img/warden-app/manage-your-wallet-6.png
  docs/help-center/static/img/warden-app/manage-your-wallet-7.png
  docs/help-center/static/img/warden-app/use-the-chat-1.png
  docs/help-center/static/img/warden-app/use-the-chat-2.png
  docs/help-center/static/img/warden-app/use-the-chat-3.png
  docs/help-center/static/img/warden-app/use-the-chat-4.png
  docs/help-center/static/img/warden-app/use-the-chat-5.png
  docs/help-center/static/img/warden-app/use-the-chat-6.png
  docs/help-center/vercel.json
Labels: docs

fixed a broken link
  docs/help-center/docs/warden-app/fees.md
  docs/help-center/docs/warden-app/manage-your-wallet.md
Labels: docs

coderabbit
  docs/help-center/docs/warden-app/explore-ai-agents.md
  docs/help-center/docs/warden-app/fees.md
  docs/help-center/docs/warden-app/introduction.md
  docs/help-center/docs/warden-app/manage-assets.md
  docs/help-center/docs/warden-app/manage-your-wallet.md
  docs/help-center/docs/warden-app/use-the-chat.md
Labels: docs

rc5 -> rc4
  docs/developer-docs/docs/learn/warden-networks.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/barra-overview.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
Labels: docs

wachai, restructure in fees
  docs/help-center/docs/warden-app/explore-ai-agents.md
  docs/help-center/docs/warden-app/fees.md
Labels: docs

a small fix
  docs/help-center/docs/warden-app/explore-ai-agents.md
Labels: docs

rc5 -> rc4 (#1717)
  docs/developer-docs/docs/learn/warden-networks.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/barra-overview.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
Labels: docs

Docs warden new UI (#1716)
  docs/help-center/docs/warden-app/earn-rewards.md
  docs/help-center/docs/warden-app/explore-ai-agents.md
  docs/help-center/docs/warden-app/fees.md
  docs/help-center/docs/warden-app/introduction.md
  docs/help-center/docs/warden-app/manage-assets.md
  docs/help-center/docs/warden-app/manage-your-wallet.md
  docs/help-center/docs/warden-app/quick-start.md
  docs/help-center/docs/warden-app/use-the-chat.md
  docs/help-center/static/img/warden-app/create-your-coin-1.png
  docs/help-center/static/img/warden-app/create-your-coin-2.png
  docs/help-center/static/img/warden-app/earn-rewards-1.png
  docs/help-center/static/img/warden-app/explore-ai-agents-1.png
  docs/help-center/static/img/warden-app/introduction-1.png
  docs/help-center/static/img/warden-app/manage-assets-1.png
  docs/help-center/static/img/warden-app/manage-assets-2.png
  docs/help-center/static/img/warden-app/manage-assets-3.png
  docs/help-center/static/img/warden-app/manage-your-wallet-1.png
  docs/help-center/static/img/warden-app/manage-your-wallet-2.png
  docs/help-center/static/img/warden-app/manage-your-wallet-3.png
  docs/help-center/static/img/warden-app/manage-your-wallet-4.png
  docs/help-center/static/img/warden-app/manage-your-wallet-5.png
  docs/help-center/static/img/warden-app/manage-your-wallet-6.png
  docs/help-center/static/img/warden-app/manage-your-wallet-7.png
  docs/help-center/static/img/warden-app/use-the-chat-1.png
  docs/help-center/static/img/warden-app/use-the-chat-2.png
  docs/help-center/static/img/warden-app/use-the-chat-3.png
  docs/help-center/static/img/warden-app/use-the-chat-4.png
  docs/help-center/static/img/warden-app/use-the-chat-5.png
  docs/help-center/static/img/warden-app/use-the-chat-6.png
  docs/help-center/vercel.json
Labels: docs
