Repository warden-protocol/wardenprotocol, changes with the labels that .github/labeler.yml gives for each.
All labels: protocol, protobuf, x-warden, x-intent, shield, test, docs, go-client, keychain, wardenkms, spaceward, contracts, snap

.github/labeler.yml:

protocol:
  - warden/**

protobuf:
  - proto/**

x-warden:
  - warden/x/warden/**
  - proto/warden/warden/**

x-intent:
  - warden/x/intent/**
  - proto/warden/intent/**

shield:
  - shield/**
  - proto/shield/**

test:
  - "**/*_test.go"
  - tests/

docs:
  - docs/**

go-client:
  - go-client/**

keychain:
  - keychain-sdk/**

wardenkms:
  - cmd/wardenkms/**

spaceward:
  - spaceward/**

contracts:
  - contracts/**

snap:
  - snap/**

deleted mentsion of the block explorer
  docs/developer-docs/docs/learn/warden-manifesto.md
  docs/developer-docs/docs/learn/warden-networks.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/barra-overview.md
Labels: docs

fix: use correct for-loop syntax in testnet.go
  cmd/wardend/cmd/testnet.go
Labels: none

coderabbit
  docs/developer-docs/docs/learn/glossary.md
  docs/developer-docs/docs/learn/introduction-to-warden.md
  docs/developer-docs/docs/learn/warden-networks.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
Labels: docs

coderabbit
  docs/developer-docs/docs/operate-a-node/delegation-plan.md
Labels: docs

added redirects
  docs/developer-docs/vercel.json
Labels: docs

added redirects for the help center
  docs/help-center/vercel.json
Labels: docs

coderabbit: style fixes
  docs/developer-docs/docs/learn/glossary.md
  docs/developer-docs/docs/learn/introduction-to-warden.md
  docs/developer-docs/docs/learn/warden-manifesto.md
  docs/developer-docs/docs/learn/warden-networks.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/barra-overview.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/create-a-validator.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
  docs/developer-docs/docs/operate-a-node/delegation-plan.md
  docs/developer-docs/docs/operate-a-node/introduction.md
  docs/developer-docs/docs/operate-a-node/node-api.md
  docs/developer-docs/docs/operate-a-node/node-commands.md
  docs/developer-docs/docs/tokens/introduction.md
Labels: docs

fixed some incorrect redirects
  docs/developer-docs/vercel.json
Labels: docs

fixed a typo
  docs/developer-docs/docs/learn/glossary.md
Labels: docs

fixed a broken link
  docs/developer-docs/docs/operate-a-node/delegation-plan.md
Labels: docs

added seed nodes + minor fixes
  docs/developer-docs/docs/learn/warden-networks.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/barra-overview.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
Labels: docs

coderabbit: minor fixes
  docs/developer-docs/docs/learn/glossary.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
  docs/developer-docs/docs/operate-a-node/delegation-plan.md
Labels: docs

refactor: update IPv4 increment logic to handle octet carry
  cmd/wardend/cmd/testnet.go
Labels: none

coderabbit
  docs/developer-docs/docs/learn/glossary.md
  docs/developer-docs/docs/learn/introduction-to-warden.md
  docs/developer-docs/docs/learn/warden-manifesto.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/create-a-validator.md
  docs/developer-docs/docs/operate-a-node/node-commands.md
Labels: docs

added extra configs for joining barra
  docs/developer-docs/docs/operate-a-node/barra-testnet/barra-overview.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
Labels: docs

Update docs/developer-docs/docs/operate-a-node/delegation-plan.md
  docs/developer-docs/docs/operate-a-node/delegation-plan.md
Labels: docs

Update docs/developer-docs/docs/operate-a-node/delegation-plan.md
  docs/developer-docs/docs/operate-a-node/delegation-plan.md
Labels: docs

minor fixes
  docs/developer-docs/docs/operate-a-node/node-commands.md
Labels: docs

tested sed commands and improved the syntax
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
Labels: docs

a minor fix in the validator tiers table
  docs/developer-docs/docs/operate-a-node/delegation-plan.md
Labels: docs

improved the join barra guide + minor fixes
  docs/developer-docs/docs/operate-a-node/barra-testnet/barra-overview.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/create-a-validator.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
  docs/developer-docs/docs/operate-a-node/delegation-plan.md
Labels: docs

added a command for genesis.json
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
Labels: docs

a minor style fix
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
Labels: docs

style fixes
  docs/developer-docs/docs/learn/glossary.md
  docs/developer-docs/docs/learn/introduction-to-warden.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
  docs/developer-docs/docs/operate-a-node/delegation-plan.md
Labels: docs

improved more command examples
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
Labels: docs

typo and style fixes
  docs/developer-docs/docs/operate-a-node/barra-testnet/barra-overview.md
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
Labels: docs

fixed syntax in a command
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
Labels: docs

feat(faucet): migrate faucet to use EVM endpoint
  cmd/faucet/faucet.go
  cmd/faucet/pkg/config/config.go
Labels: none

chore(faucet): removal of faucet
  .github/workflows/faucet.yml
  Makefile
  cmd/faucet/Dockerfile
  cmd/faucet/assets/background.svg
  cmd/faucet/css/style.css
  cmd/faucet/faucet.go
  cmd/faucet/faucet_test.go
  cmd/faucet/images/favicon.ico
  cmd/faucet/js/circle.js
  cmd/faucet/js/tx.js
  cmd/faucet/main.go
  cmd/faucet/metrics.go
  cmd/faucet/pkg/config/config.go
  cmd/faucet/templates/form.html
  cmd/faucet/templates/index.html
  cmd/faucet/templates/red-cross.html
  cmd/faucet/templates/spinner.html
  cmd/faucet/templates/tokens.html
  cmd/faucet/templates/tx-result.html
  cmd/faucet/templates/tx-status.html
  justfile
  protocol-developer-docs/3-installation.md
Labels: test

run go mod tidy
  go.mod
  go.sum
Labels: none

remove more faucet references
  .github/workflows/release-docker-images.yml
  .github/workflows/wardend.yaml
  wardend.just
Labels: none

chore(faucet): remove faucet binary (#1705)
  .github/workflows/faucet.yml
  .github/workflows/release-docker-images.yml
  .github/workflows/wardend.yaml
  Makefile
  cmd/faucet/Dockerfile
  cmd/faucet/assets/background.svg
  cmd/faucet/css/style.css
  cmd/faucet/faucet.go
  cmd/faucet/faucet_test.go
  cmd/faucet/images/favicon.ico
  cmd/faucet/js/circle.js
  cmd/faucet/js/tx.js
  cmd/faucet/main.go
  cmd/faucet/metrics.go
  cmd/faucet/pkg/config/config.go
  cmd/faucet/templates/form.html
  cmd/faucet/templates/index.html
  cmd/faucet/templates/red-cross.html
  cmd/faucet/templates/spinner.html
  cmd/faucet/templates/tokens.html
  cmd/faucet/templates/tx-result.html
  cmd/faucet/templates/tx-status.html
  go.mod
  go.sum
  justfile
  protocol-developer-docs/3-installation.md
  wardend.just
Labels: test

added consensus parameters, adjusted the cosmovisor version
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
Labels: docs

i --> i.bak
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
Labels: docs

a minor fix
  docs/developer-docs/docs/learn/introduction-to-warden.md
Labels: docs

removed the flood/nop setting
  docs/developer-docs/docs/operate-a-node/barra-testnet/join-barra.md
Labels: docs

Updated distribution and release schedule
  docs/developer-docs/docs/tokens/ward-token/distribution.md
Labels: docs

minor fixes
  docs/developer-docs/docs/tokens/ward-token/distribution.md
Labels: docs

fixed the agent incentives number
  docs/developer-docs/docs/tokens/ward-token/distribution.md
Labels: docs

added images, fixed a typo
  docs/developer-docs/docs/tokens/ward-token/distribution.md
  docs/developer-docs/docs/tokens/ward-token/supply.md
  docs/developer-docs/static/img/ward-distribution-1.png
  docs/developer-docs/static/img/ward-distribution-2.png
Labels: docs
