Repository warden-protocol/wardenprotocol, pull requests merged in 2024-02, with the labels that each got.

#5 feat(warden): add initial Space and Keychain at genesis for local development
  api/warden/intent/action.pulsar.go
  api/warden/intent/genesis.pulsar.go
  api/warden/intent/intent.pulsar.go
  api/warden/intent/module/module.pulsar.go
  api/warden/intent/params.pulsar.go
  api/warden/intent/query.pulsar.go
  api/warden/intent/query_grpc.pb.go
  api/warden/intent/tx.pulsar.go
  api/warden/intent/tx_grpc.pb.go
  api/warden/warden/genesis.pulsar.go
  api/warden/warden/key.pulsar.go
  api/warden/warden/keychain.pulsar.go
  api/warden/warden/module/module.pulsar.go
  api/warden/warden/params.pulsar.go
  api/warden/warden/query.pulsar.go
  api/warden/warden/query_grpc.pb.go
  api/warden/warden/signature.pulsar.go
  api/warden/warden/space.pulsar.go
  api/warden/warden/tx.pulsar.go
  api/warden/warden/tx_grpc.pb.go
  api/warden/warden/wallet.pulsar.go
  config.yml
  docs/static/openapi.yml
  proto/buf.lock
  proto/buf.yaml
  proto/warden/intent/action.proto
  proto/warden/intent/genesis.proto
  proto/warden/intent/intent.proto
  proto/warden/intent/module/module.proto
  proto/warden/intent/params.proto
  proto/warden/intent/query.proto
  proto/warden/intent/tx.proto
  proto/warden/warden/genesis.proto
  proto/warden/warden/key.proto
  proto/warden/warden/keychain.proto
  proto/warden/warden/module/module.proto
  proto/warden/warden/params.proto
  proto/warden/warden/query.proto
  proto/warden/warden/signature.proto
  proto/warden/warden/space.proto
  proto/warden/warden/tx.proto
  proto/warden/warden/wallet.proto
  warden/app/app_config.go
  warden/proto/buf.gen.gogo.yaml
  warden/proto/buf.gen.pulsar.yaml
  warden/proto/buf.gen.sta.yaml
  warden/proto/buf.gen.swagger.yaml
  warden/proto/buf.gen.ts.yaml
  warden/proto/buf.lock
  warden/proto/buf.yaml
  warden/x/intent/module/autocli.go
  warden/x/intent/module/module.go
  warden/x/warden/module/autocli.go
  warden/x/warden/module/genesis.go
  warden/x/warden/module/module.go
  warden/x/warden/types/genesis.pb.go
Labels: protocol, protobuf, sdk-module, intent, docs

#10 fix(spaceward): env variables names
  Dockerfile
  spaceward/src/components/faucet-button.tsx
  spaceward/src/def-hooks/walletContext.tsx
  spaceward/src/env.ts
  spaceward/src/newclient/ethermint.ts
  spaceward/src/newclient/index.ts
  spaceward/src/newclient/keplr.ts
  spaceward/src/routes/walletconnect.tsx
Labels: spaceward

#13 feat: prepare local devnet environment
  Dockerfile
  docker-compose.yml
  warden/cmd/faucet/faucet.go
Labels: protocol

#14 fix(spaceward): explorer pages
  spaceward/src/components/block-details.tsx
  spaceward/src/components/explorer.tsx
  spaceward/src/components/tx-details.tsx
  spaceward/src/main.tsx
  spaceward/src/routes/block_by_height.tsx
  spaceward/src/routes/tx_by_hash.tsx
Labels: spaceward

#17 docs: remove outdated files
  CONTRIBUTING.md
  GUIDE.md
  SETUP.md
  docs/faucet.md
  docs/node.md
  docs/testnet.md
  warden/readme.md
Labels: protocol, docs

#18 docs: cleanup outdated LICENSE
  .reuse/dep5
  LICENSE
  LICENSES/GPL-3.0-only.txt
  LICENSES/LGPL-3.0-only.txt
  LICENSES/LGPL-3.0-or-later.txt
  LICENSES/MIT.txt
  NOTICE
  README.md
  docs/logo.svg
Labels: docs

#21 docs: add protocol overview
  docs/developers/api.md
  docs/developers/protocol.md
  docs/static/openapi.yml
Labels: docs

#25 fix(spaceward): removed celestia test files causing build error
  spaceward/src/main.tsx
  spaceward/src/routes/celestia.tsx
Labels: spaceward

#27 fix(spaceward): fix for address error when no space created
  spaceward/src/components/new-key-button.tsx
  spaceward/src/routes/root.tsx
Labels: spaceward

#31 feat(warden): add some timestamps to Action
  .github/workflows/build-spaceward.yml
  .github/workflows/go-client.yml
  .github/workflows/spaceward.yml
  .github/workflows/wardend.yml
  .github/workflows/wardenkms.yml
  api/warden/intent/action.pulsar.go
  docs/static/openapi.yml
  proto/warden/intent/action.proto
  warden/x/intent/keeper/actions.go
  warden/x/intent/keeper/keeper.go
  warden/x/intent/keeper/msg_server_approve_action.go
  warden/x/intent/keeper/msg_server_revoke_action.go
  warden/x/intent/types/action.go
  warden/x/intent/types/action.pb.go
Labels: protocol, intent, docs

#32 fix(warden): ID not being set correctly for some entities
  warden/repo/seqcollection.go
  warden/x/intent/keeper/actions.go
  warden/x/intent/keeper/msg_server_new_intent.go
  warden/x/warden/keeper/msg_server_add_space_owner.go
  warden/x/warden/keeper/msg_server_new_key_request.go
  warden/x/warden/keeper/msg_server_new_sign_transaction_request.go
  warden/x/warden/keeper/msg_server_new_signature_request.go
Labels: protocol, sdk-module, intent

#34 fix(spaceward): prevent initial HTTP broken requests
  spaceward/src/def-hooks/useAsset.ts
  spaceward/src/routes/root.tsx
Labels: spaceward

#35 feat(spaceward): added wallet connection modal, updates to actions, updates to home screen
  docs/static/openapi.yml
  spaceward/package.json
  spaceward/pnpm-lock.yaml
  spaceward/public/landing-bg-dark.svg
  spaceward/public/landing-bg.svg
  spaceward/public/logos/bitbond.svg
  spaceward/public/logos/cosmostation-bg.svg
  spaceward/public/logos/cosmostation.svg
  spaceward/public/logos/keplr.svg
  spaceward/public/logos/leap.svg
  spaceward/public/logos/lyra.svg
  spaceward/public/logos/maple.svg
  spaceward/public/logos/squid.svg
  spaceward/public/logos/uniswap.svg
  spaceward/public/logos/walletconnect.svg
  spaceward/src/components/Action.1.tsx
  spaceward/src/components/action.tsx
  spaceward/src/components/actions.tsx
  spaceward/src/components/add-space-owner-form.tsx
  spaceward/src/components/apps.tsx
  spaceward/src/components/assets.tsx
  spaceward/src/components/block-details.tsx
  spaceward/src/components/connect-wallet.tsx
  spaceward/src/components/explorer.tsx
  spaceward/src/components/intent-preview-card.tsx
  spaceward/src/components/intent.tsx
  spaceward/src/components/intents.tsx
  spaceward/src/components/new-intent-button.tsx
  spaceward/src/components/sidebar.tsx
  spaceward/src/components/site-header.tsx
  spaceward/src/components/space-intent-card.tsx
  spaceward/src/components/tx-msg-details.tsx
  spaceward/src/components/ui/alert.tsx
  spaceward/src/components/ui/dialog.tsx
  spaceward/src/components/ui/drawer.tsx
  spaceward/src/components/ui/icons.tsx
  spaceward/src/components/walletconnect.tsx
  spaceward/src/def-hooks/useKeplr.ts
  spaceward/src/def-hooks/useLeap.ts
  spaceward/src/def-hooks/walletContext.tsx
  spaceward/src/hooks/useActiveWallet.ts
  spaceward/src/hooks/useSpaceAddress.ts
  spaceward/src/main.css
  spaceward/src/main.tsx
  spaceward/src/routes/actions.tsx
  spaceward/src/routes/apps.tsx
  spaceward/src/routes/home.tsx
  spaceward/src/routes/intents.tsx
  spaceward/src/routes/key.tsx
  spaceward/src/routes/keychains.tsx
  spaceward/src/routes/owners.tsx
  spaceward/src/routes/root.tsx
  spaceward/src/routes/settings.tsx
Labels: docs, spaceward

#36 fix(spaceward): possible fix for walletconnect clipboard issue
  docs/static/openapi.yml
  spaceward/src/components/connect-wallet.tsx
  spaceward/src/components/sidebar.tsx
  spaceward/src/routes/apps-open.tsx
Labels: docs, spaceward

#37 fix(spaceward): added css class to remove scrollbar
  spaceward/src/components/sidebar.tsx
  spaceward/src/components/ui/icons.tsx
  spaceward/src/components/walletconnect.tsx
  spaceward/src/main.css
Labels: spaceward

#39 fix(spaceward): wrong Any value serialization when creating a new Intent
  spaceward/src/components/new-intent-button.tsx
Labels: spaceward

#41 feat(spaceward): updates to home, keys and assets
  spaceward/public/favicon.ico
  spaceward/src/components/actions.tsx
  spaceward/src/components/address-avatar.tsx
  spaceward/src/components/apps.tsx
  spaceward/src/components/assets.tsx
  spaceward/src/components/block-details.tsx
  spaceward/src/components/connect-wallet.tsx
  spaceward/src/components/explorer.tsx
  spaceward/src/components/intents.tsx
  spaceward/src/components/key-request-dialog.tsx
  spaceward/src/components/keys.tsx
  spaceward/src/components/no-active-space.tsx
  spaceward/src/components/notifications.tsx
  spaceward/src/components/sidebar.tsx
  spaceward/src/components/site-header.tsx
  spaceward/src/components/tx-details.tsx
  spaceward/src/components/ui/icons.tsx
  spaceward/src/components/walletconnect.tsx
  spaceward/src/main.css
  spaceward/src/main.tsx
  spaceward/src/routes/assets.tsx
  spaceward/src/routes/block-by-height.tsx
  spaceward/src/routes/home.tsx
  spaceward/src/routes/keys.tsx
  spaceward/src/routes/owners.tsx
  spaceward/src/routes/root.tsx
Labels: spaceward

#40 fix(warden): prevent common invalid intents definitions
  warden/x/intent/types/intent.go
Labels: protocol, intent

#42 feat(spaceward): updates to home and assets page
  spaceward/index.html
  spaceward/package.json
  spaceward/pnpm-lock.yaml
  spaceward/src/components/actions.tsx
  spaceward/src/components/add-space-owner-form.tsx
  spaceward/src/components/assets.tsx
  spaceward/src/components/home-assets.tsx
  spaceward/src/components/intents.tsx
  spaceward/src/components/key-request-dialog.tsx
  spaceward/src/components/keys.tsx
  spaceward/src/components/new-key-button.tsx
  spaceward/src/components/receive-asset-button.tsx
  spaceward/src/components/send-eth.tsx
  spaceward/src/components/total-asset-value.tsx
  spaceward/src/components/ui/copy.tsx
  spaceward/src/components/walletconnect.tsx
  spaceward/src/hooks/useSpaceAddress.ts
  spaceward/src/main.css
  spaceward/src/routes/assets.tsx
  spaceward/src/routes/home.tsx
  spaceward/src/routes/keys.tsx
  spaceward/src/routes/new-transaction.tsx
  spaceward/src/routes/root.tsx
Labels: spaceward

#45 feat(spaceward): SWA-51 Visible notification counter on WalletConnect
  spaceward/src/components/walletconnect.tsx
  spaceward/src/routes/owners.tsx
Labels: spaceward
