Repository warden-protocol/wardenprotocol, pull requests merged in 2024-07, with the labels that each got.

#474 fix: wrap PreBlocker to call both app preblock and oracle preblock
  warden/app/app.go
  warden/app/app_config.go
  warden/app/oracle.go
Labels: protocol

#463 feat(spaceward): Update asset support
  spaceward/public/images/galaxe.png
  spaceward/src/components/ui/icons-assets.tsx
  spaceward/src/components/ui/icons-crypto.tsx
  spaceward/src/context/modalContext.tsx
  spaceward/src/env.ts
  spaceward/src/features/actions/Actions.tsx
  spaceward/src/features/assets/AssetRow.tsx
  spaceward/src/features/assets/Key.tsx
  spaceward/src/features/assets/hooks.ts
  spaceward/src/features/assets/queries.ts
  spaceward/src/features/assets/types.ts
  spaceward/src/features/assets/util.ts
  spaceward/src/features/dashboard/Actions.tsx
  spaceward/src/features/dashboard/DashboardGraph.tsx
  spaceward/src/features/dashboard/Key.tsx
  spaceward/src/features/dashboard/Keys.tsx
  spaceward/src/features/intents/AddAddressModal.tsx
  spaceward/src/features/modals/SelectAsset.tsx
  spaceward/src/features/modals/SendAssets.tsx
  spaceward/src/features/modals/index.tsx
  spaceward/src/features/modals/types.ts
  spaceward/src/features/modals/util.ts
  spaceward/src/features/staking/RedelegateModal.tsx
  spaceward/src/features/staking/StakeModal.tsx
  spaceward/src/features/staking/ValidatorRow.tsx
  spaceward/src/features/staking/assets.ts
  spaceward/src/hooks/useKeychainSigner.tsx
  spaceward/src/hooks/useRequestSignature.ts
  spaceward/src/pages/Assets.tsx
  spaceward/tailwind.config.ts
Labels: spaceward

#496 fix(docs): fix for docs redirect limits in cloudflare
  docs/developer-docs/vercel.json
Labels: docs

#497 fix(spaceward): Hide bushinode keychain
  spaceward/src/features/keys/NewKeyButton.tsx
Labels: spaceward

#494 feat(spaceward): Libp2p QR transport
  spaceward/bin/relay.mjs
  spaceward/package.json
  spaceward/pnpm-lock.yaml
  spaceward/src/App.tsx
  spaceward/src/env.ts
  spaceward/src/features/walletconnect/MobileReader.tsx
  spaceward/src/features/walletconnect/MobileTransport.tsx
  spaceward/src/features/walletconnect/WalletConnect.tsx
  spaceward/src/features/walletconnect/assets.tsx
  spaceward/src/features/walletconnect/types.ts
  spaceward/src/features/walletconnect/util.ts
  spaceward/src/hooks/useLibp2p.ts
  spaceward/src/pages/Root.tsx
  spaceward/vite.config.ts
Labels: spaceward

#492 fix(spaceward): Fix spaces scroll
  spaceward/src/assets/main.css
  spaceward/src/features/spaces/SpaceSelector.tsx
Labels: spaceward

#491 fix(spaceward): some light theme fixes
  spaceward/public/images/bnr-governance.png
  spaceward/public/images/dashboard-governance.png
  spaceward/src/assets/main.css
  spaceward/src/features/dashboard/DashboardGraph.tsx
  spaceward/src/features/dashboard/Governance.tsx
  spaceward/src/features/dashboard/Keys.tsx
  spaceward/src/features/dashboard/StakingCard.tsx
  spaceward/src/features/modals/SelectAsset.tsx
  spaceward/src/features/modals/SendAssets.tsx
  spaceward/src/features/staking/DetailsModal.tsx
  spaceward/src/features/staking/StakeModal.tsx
  spaceward/src/features/staking/StakingHeading.tsx
  spaceward/src/features/staking/ValidatorRow.tsx
  spaceward/src/pages/Assets.tsx
  spaceward/src/pages/Governance.tsx
  spaceward/src/pages/Staking.tsx
  spaceward/tailwind.config.ts
Labels: spaceward

#505 Update relay endpoint
  spaceward/bin/relay.mjs
  spaceward/src/env.ts
  spaceward/src/features/walletconnect/MobileTransport.tsx
  spaceward/src/hooks/useLibp2p.ts
Labels: spaceward

#503 #495 Add x/act integration test for adding/removing owners
  tests/cases/owner_approve_action.go
  tests/framework/exec/warden_cli.go
  tests/justfile
  tests/testdata/snapshot-many-users/config/app.toml.tmpl
  tests/testdata/snapshot-many-users/config/client.toml.tmpl
  tests/testdata/snapshot-many-users/config/config.toml.tmpl
  tests/testdata/snapshot-many-users/config/genesis.json
  tests/testdata/snapshot-many-users/config/gentx/gentx-8135796bf9bf192aa19db49fdb8f354bf570c985.json
  tests/testdata/snapshot-many-users/config/node_key.json
  tests/testdata/snapshot-many-users/config/priv_validator_key.json
  tests/testdata/snapshot-many-users/data/priv_validator_state.json
  tests/testdata/snapshot-many-users/keyring-test/101e05d7b782e9dd64b7bee7c6bb248eafacf450.address
  tests/testdata/snapshot-many-users/keyring-test/2f0be4bcaa3822fd207bb07be752e13636b4e954.address
  tests/testdata/snapshot-many-users/keyring-test/2fd1470a60bdf72875a7f549fe653d7b9c7099cf.address
  tests/testdata/snapshot-many-users/keyring-test/a9bb91295de9ddfb784d1859ecf5f22dd48537a5.address
  tests/testdata/snapshot-many-users/keyring-test/alice.info
  tests/testdata/snapshot-many-users/keyring-test/bob.info
  tests/testdata/snapshot-many-users/keyring-test/ced172667cdb33ce4658a091cf4c8a15b1256280.address
  tests/testdata/snapshot-many-users/keyring-test/charlie.info
  tests/testdata/snapshot-many-users/keyring-test/d99e5c8fa41c8df7764a5b12028c0ef5cc4206c2.address
  tests/testdata/snapshot-many-users/keyring-test/dave.info
  tests/testdata/snapshot-many-users/keyring-test/erin.info
  tests/testdata/snapshot-many-users/keyring-test/frank.info
  warden/x/warden/keeper/genesis.go
  warden/x/warden/keeper/spaces.go
Labels: protocol, x-warden

#513 fix(go-client): correctly setup TLS credentials
  go-client/query_client.go
Labels: go-client

#510 #466 Manual Check Action
  CHANGELOG.md
  api/warden/act/v1beta1/tx.pulsar.go
  api/warden/act/v1beta1/tx_grpc.pb.go
  proto/warden/act/v1beta1/tx.proto
  warden/x/act/keeper/msg_server_check_action.go
  warden/x/act/types/v1beta1/tx.pb.go
Labels: protocol, protobuf

#515 Walletconnect final
  spaceward/src/features/modals/WCBindSpace.tsx
  spaceward/src/features/walletconnect/WalletConnect.tsx
  spaceward/src/features/walletconnect/util.ts
  spaceward/src/hooks/useKeychainSigner.tsx
Labels: spaceward

#535 chore: prepare v0.4.0
  CHANGELOG.md
  wardenjs/CHANGELOG.md
  wardenjs/package.json
Labels: wardenjs

#534 #141 Nullability Attributes
  api/warden/act/v1beta1/query.pulsar.go
  api/warden/warden/v1beta3/keychain.pulsar.go
  api/warden/warden/v1beta3/query.pulsar.go
  proto/warden/act/v1beta1/query.proto
  proto/warden/warden/v1beta3/keychain.proto
  proto/warden/warden/v1beta3/query.proto
  warden/x/act/types/v1beta1/query.pb.go
  warden/x/warden/types/v1beta3/keychain.pb.go
  warden/x/warden/types/v1beta3/query.pb.go
Labels: protocol, protobuf, x-warden

#542 fix(spaceward): create key redesign
  spaceward/src/components/ui/icons-assets.tsx
  spaceward/src/features/keys/NewKeyButton.tsx
  spaceward/src/features/modals/CreateKey.tsx
Labels: spaceward

#539 feat(Spaceward): Keys management
  spaceward/src/App.tsx
  spaceward/src/components/ui/icons-assets.tsx
  spaceward/src/context/modalContext.tsx
  spaceward/src/features/assets/queries.ts
  spaceward/src/features/dashboard/DashboardGraph.tsx
  spaceward/src/features/dashboard/Keys.tsx
  spaceward/src/features/keys/KeyRequestStatus.tsx
  spaceward/src/features/keys/Keys.tsx
  spaceward/src/features/keys/NewKeyButton.tsx
  spaceward/src/features/keys/animate.css
  spaceward/src/features/keys/assets.tsx
  spaceward/src/features/keys/state.ts
  spaceward/src/features/modals/ConnectedModal.tsx
  spaceward/src/features/modals/CreateKey.tsx
  spaceward/src/features/modals/ReceiveAssets.tsx
  spaceward/src/features/modals/SelectAsset.tsx
  spaceward/src/features/modals/SelectKeys.tsx
  spaceward/src/features/modals/SendAssets.tsx
  spaceward/src/features/modals/WalletConnect.tsx
  spaceward/src/features/modals/index.tsx
  spaceward/src/features/modals/state.ts
  spaceward/src/features/modals/types.ts
  spaceward/src/features/walletconnect/WalletConnect.tsx
  spaceward/src/hooks/state.tsx
  spaceward/src/hooks/useRequestKey.ts
  spaceward/src/pages/Assets.tsx
  spaceward/src/pages/Keys.tsx
  spaceward/src/pages/Root.tsx
  spaceward/src/utils/browser.ts
Labels: spaceward

#546 Keys design
  spaceward/src/assets/main.css
  spaceward/src/components/ui/icons-assets.tsx
  spaceward/src/features/keys/KeyRequestStatus.tsx
  spaceward/src/features/keys/Keys.tsx
  spaceward/src/features/modals/CreateKey.tsx
  spaceward/tailwind.config.ts
Labels: spaceward

#547 added yieldward mentions + other fixes
  docs/developer-docs/docs/build-an-oapp/build-a-custom-smart-contract.md
  docs/developer-docs/docs/build-an-oapp/build-the-frontend/_category_.json
  docs/developer-docs/docs/build-an-oapp/build-with-wardenjs.md
  docs/developer-docs/docs/build-an-oapp/examples-of-oapps.md
  docs/developer-docs/docs/build-an-oapp/introduction.md
  docs/developer-docs/docs/build-an-oapp/quick-start.md
  docs/developer-docs/docs/build-an-oapp/test/_category_.json
  docs/developer-docs/docs/build-an-oapp/test/metamask-snap-accounts-preview.jpg
  docs/developer-docs/docs/build-an-oapp/useful-links.md
  docs/developer-docs/docs/learn/glossary.md
  docs/developer-docs/docs/operate-a-node/buenavista-testnet/join-buenavista.md
  docs/developer-docs/docusaurus.config.ts
  docs/help-center/docusaurus.config.ts
Labels: docs

#541 feat(spaceward): WalletConnect and Keys design fixes
  spaceward/src/assets/main.css
  spaceward/src/components/ui/icons-assets.tsx
  spaceward/src/components/ui/toast-new.tsx
  spaceward/src/features/dashboard/DashboardGraph.tsx
  spaceward/src/features/keys/KeyRequestStatus.tsx
  spaceward/src/features/keys/Keys.tsx
  spaceward/src/features/modals/ApproveActionModal.tsx
  spaceward/src/features/modals/CreateKey.tsx
  spaceward/src/features/modals/SendAssets.tsx
  spaceward/src/features/modals/WalletConnect.tsx
  spaceward/src/features/modals/index.tsx
  spaceward/src/features/modals/state.ts
  spaceward/src/features/walletconnect/WalletConnect.tsx
  spaceward/src/hooks/useClient.ts
  spaceward/src/hooks/useFiatConversion.ts
  spaceward/src/pages/Assets.tsx
  spaceward/tailwind.config.ts
Labels: spaceward

#551 feat(spaceward) Owners management page & some fixes
  spaceward/src/assets/animate.css
  spaceward/src/components/AddressAvatar.tsx
  spaceward/src/components/ui/icons-assets.tsx
  spaceward/src/features/dashboard/Keys.tsx
  spaceward/src/features/keys/KeyRequestStatus.tsx
  spaceward/src/features/keys/Keys.tsx
  spaceward/src/features/keys/NewKeyButton.tsx
  spaceward/src/features/keys/animate.css
  spaceward/src/features/keys/index.ts
  spaceward/src/features/modals/AddOwner.tsx
  spaceward/src/features/modals/ApproveActionModal.tsx
  spaceward/src/features/modals/CreateKey.tsx
  spaceward/src/features/modals/WCBindSpace.tsx
  spaceward/src/features/modals/index.tsx
  spaceward/src/features/modals/state.ts
  spaceward/src/features/modals/types.ts
  spaceward/src/features/owners/OwnerCard.tsx
  spaceward/src/features/owners/state.ts
  spaceward/src/features/walletconnect/assets.tsx
  spaceward/src/pages/Owners.tsx
  spaceward/tailwind.config.ts
Labels: spaceward

#550 Docs upgrade warden
  docs/developer-docs/docs/operate-a-node/buenavista-testnet/join-buenavista.md
  docs/developer-docs/docs/operate-a-node/buenavista-testnet/upgrade/v0.4.0.md
Labels: docs

#567 fix(docs): wrong warden block height on the upgrade documentation
  docs/developer-docs/docs/operate-a-node/buenavista-testnet/upgrade/v0.4.0.md
Labels: docs

#558 #241 Expose `x/warden` messages to CosmWasm
  warden/app/wasm-interop/custom_msg.go
  warden/app/wasm-interop/custom_query.go
Labels: protocol

#548 #527 Keychain admins management feature
  CHANGELOG.md
  api/warden/warden/v1beta3/events.pulsar.go
  api/warden/warden/v1beta3/tx.pulsar.go
  proto/warden/warden/v1beta3/events.proto
  proto/warden/warden/v1beta3/tx.proto
  warden/x/warden/keeper/msg_server_add_keychain_admin.go
  warden/x/warden/keeper/msg_server_remove_keychain_admin.go
  warden/x/warden/types/v1beta3/events.pb.go
  warden/x/warden/types/v1beta3/keychain.go
  warden/x/warden/types/v1beta3/tx.pb.go
Labels: protocol, protobuf, x-warden

#573 #563 Added `RuleId` validity check to `updateKey`
  warden/x/act/keeper/rules.go
  warden/x/warden/keeper/msg_server_update_key.go
  warden/x/warden/keeper/msg_server_update_space.go
  warden/x/warden/types/expected_keepers.go
Labels: protocol, x-warden

#572 #562 approveaction is not persisting the new approval
  tests/cases/approve_any_3_action.go
  warden/x/act/keeper/msg_server_approve_action.go
Labels: protocol

#571 feat(spaceward): Receive Assets modal
  spaceward/src/assets/main.css
  spaceward/src/components/AddressAvatar.tsx
  spaceward/src/components/ui/icons-crypto.tsx
  spaceward/src/features/assets/queries.ts
  spaceward/src/features/dashboard/Actions.tsx
  spaceward/src/features/dashboard/DashboardGraph.tsx
  spaceward/src/features/dashboard/Key.tsx
  spaceward/src/features/dashboard/Keys.tsx
  spaceward/src/features/dashboard/icons.tsx
  spaceward/src/features/keys/Keys.tsx
  spaceward/src/features/modals/AssetSelector.tsx
  spaceward/src/features/modals/KeySelector.tsx
  spaceward/src/features/modals/ReceiveAssets.tsx
  spaceward/src/features/modals/SelectAsset.tsx
  spaceward/src/features/modals/SelectKeys.tsx
  spaceward/src/features/modals/SendAssets.tsx
  spaceward/src/features/modals/index.tsx
  spaceward/src/features/modals/state.ts
  spaceward/src/features/modals/types.ts
  spaceward/src/features/modals/util.ts
  spaceward/src/features/staking/StakingHeading.tsx
  spaceward/src/lib/math.ts
  spaceward/src/pages/Assets.tsx
  spaceward/src/pages/Governance.tsx
  spaceward/src/pages/Staking.tsx
  spaceward/tailwind.config.ts
Labels: spaceward

#582 fix(spaceward): Fix keychain text contrast issue #552
  spaceward/src/features/modals/CreateKey.tsx
Labels: spaceward

#584 feat(spaceward): Keychains page
  spaceward/src/features/keychains/KeychainCard.tsx
  spaceward/src/features/keychains/description.tsx
  spaceward/src/features/keychains/icons.tsx
  spaceward/src/features/modals/CreateKey.tsx
  spaceward/src/features/modals/types.ts
  spaceward/src/pages/Keychains.tsx
Labels: spaceward

#587 fix(spaceward): Fixed some issues
  spaceward/src/components/AddressUnit.tsx
  spaceward/src/features/dashboard/DashboardGraph.tsx
  spaceward/src/features/intents/AddAddressModal.tsx
  spaceward/src/features/intents/AdvancedMode.tsx
  spaceward/src/features/intents/ChangeAddressesModal.tsx
  spaceward/src/features/intents/Intent.tsx
  spaceward/src/features/intents/IntentCondition.tsx
  spaceward/src/features/keys/Keys.tsx
  spaceward/src/features/keys/assets.tsx
  spaceward/src/features/modals/AddOwner.tsx
  spaceward/src/features/modals/CreateKey.tsx
  spaceward/src/features/modals/KeySelector.tsx
  spaceward/src/features/modals/index.tsx
Labels: spaceward

#586 fix(spaceward): refs sidebars redesign
  spaceward/src/assets/main.css
  spaceward/src/components/AddressAvatar.tsx
  spaceward/src/components/ConnectWallet.tsx
  spaceward/src/components/FaucetButton.tsx
  spaceward/src/features/spaces/SpaceSelector.tsx
  spaceward/src/layouts/icons.tsx
  spaceward/src/layouts/right-sidebar.tsx
  spaceward/src/layouts/sidebar.tsx
  spaceward/src/layouts/site-header.tsx
Labels: spaceward

#536 #485 x/act: implement ExportState/ImportState
  CHANGELOG.md
  api/warden/act/v1beta1/genesis.pulsar.go
  proto/warden/act/v1beta1/genesis.proto
  warden/x/act/keeper/actions_keeper.go
  warden/x/act/keeper/genesis.go
  warden/x/act/module/genesis.go
  warden/x/act/types/v1beta1/genesis.pb.go
Labels: protocol, protobuf
