Repository warden-protocol/wardenprotocol, pull requests merged in 2024-09, with the labels that each got.

#757 Add chain upgrade instructions for v0.4.2
  docs/developer-docs/docs/operate-a-node/buenavista-testnet/upgrade/v0.4.2.md
Labels: docs

#744 fix(x/act): simplify prepareHandlerContext to always use sdk.Context
  warden/x/act/keeper/actions.go
Labels: protocol

#761 feat(spaceward): fix governance types
  spaceward/src/features/governance/hooks.ts
  spaceward/src/features/governance/util.ts
  wardenjs/proto/cosmos/gov/module/v1/module.proto
  wardenjs/proto/cosmos/gov/v1/genesis.proto
  wardenjs/proto/cosmos/gov/v1/gov.proto
  wardenjs/proto/cosmos/gov/v1/query.proto
  wardenjs/proto/cosmos/gov/v1/tx.proto
  wardenjs/proto/cosmos/gov/v1beta1/genesis.proto
  wardenjs/proto/cosmos/gov/v1beta1/gov.proto
  wardenjs/proto/cosmos/gov/v1beta1/query.proto
  wardenjs/proto/cosmos/gov/v1beta1/tx.proto
  wardenjs/src/codegen/cosmos/bundle.ts
  wardenjs/src/codegen/cosmos/gov/module/v1/module.ts
  wardenjs/src/codegen/cosmos/gov/v1/genesis.ts
  wardenjs/src/codegen/cosmos/gov/v1/gov.ts
  wardenjs/src/codegen/cosmos/gov/v1/query.lcd.ts
  wardenjs/src/codegen/cosmos/gov/v1/query.rpc.Query.ts
  wardenjs/src/codegen/cosmos/gov/v1/query.ts
  wardenjs/src/codegen/cosmos/gov/v1/tx.amino.ts
  wardenjs/src/codegen/cosmos/gov/v1/tx.registry.ts
  wardenjs/src/codegen/cosmos/gov/v1/tx.rpc.msg.ts
  wardenjs/src/codegen/cosmos/gov/v1/tx.ts
  wardenjs/src/codegen/cosmos/gov/v1beta1/genesis.ts
  wardenjs/src/codegen/cosmos/gov/v1beta1/gov.ts
  wardenjs/src/codegen/cosmos/gov/v1beta1/query.lcd.ts
  wardenjs/src/codegen/cosmos/gov/v1beta1/query.rpc.Query.ts
  wardenjs/src/codegen/cosmos/gov/v1beta1/query.ts
  wardenjs/src/codegen/cosmos/gov/v1beta1/tx.rpc.msg.ts
  wardenjs/src/codegen/cosmos/gov/v1beta1/tx.ts
  wardenjs/src/codegen/gogoproto/bundle.ts
  wardenjs/src/codegen/google/bundle.ts
  wardenjs/src/codegen/shield/bundle.ts
  wardenjs/src/codegen/slinky/bundle.ts
  wardenjs/src/codegen/tendermint/bundle.ts
  wardenjs/src/codegen/warden/bundle.ts
  wardenjs/src/codegen/warden/warden/v1beta3/events.ts
  wardenjs/src/codegen/warden/warden/v1beta3/key.ts
  wardenjs/src/codegen/warden/warden/v1beta3/keychain.ts
  wardenjs/src/codegen/warden/warden/v1beta3/signature.ts
  wardenjs/src/codegen/warden/warden/v1beta3/tx.ts
Labels: spaceward, wardenjs

#765 feat(spaceward): fix keychain field value
  spaceward/src/features/modals/CreateKey.tsx
Labels: spaceward

#767 fix(spaceward): Fix logos
  spaceward/public/favicon.ico
  spaceward/src/components/ui/icons-assets.tsx
  spaceward/src/features/staking/RedelegateModal.tsx
  spaceward/src/features/staking/StakeModal.tsx
  spaceward/src/features/staking/StakingHeading.tsx
  spaceward/src/layouts/icons.tsx
  spaceward/tailwind.config.ts
Labels: spaceward

#772 fix(spaceward): Some light theme fixes
  spaceward/public/images/bnr-governance-light.png
  spaceward/public/images/staking-light.png
  spaceward/src/assets/main.css
  spaceward/src/components/FaucetButton.tsx
  spaceward/src/components/ui/icons-assets.tsx
  spaceward/src/components/ui/icons.tsx
  spaceward/src/features/dashboard/DashboardGraph.tsx
  spaceward/src/features/dashboard/Governance.tsx
  spaceward/src/features/dashboard/Keys.tsx
  spaceward/src/features/dashboard/StakingCard.tsx
  spaceward/src/features/governance/Chart.tsx
  spaceward/src/features/keychains/KeychainCard.tsx
  spaceward/src/features/keychains/icons.tsx
  spaceward/src/features/modals/AddOwner.tsx
  spaceward/src/features/modals/CreateKey.tsx
  spaceward/src/features/modals/SendAssets.tsx
  spaceward/src/features/modals/WCBindSpace.tsx
  spaceward/src/features/modals/WCPair.tsx
  spaceward/src/features/spaces/NoSpaces.tsx
  spaceward/src/features/staking/StakingHeading.tsx
  spaceward/src/layouts/icons.tsx
  spaceward/src/pages/Assets.tsx
  spaceward/src/pages/Governance.tsx
  spaceward/tailwind.config.ts
Labels: spaceward

#714 Add Nonce to Space
  CHANGELOG.md
  api/warden/warden/v1beta3/space.pulsar.go
  api/warden/warden/v1beta3/tx.pulsar.go
  cmd/wardend/cmd/gen-spaces.go
  proto/warden/warden/v1beta3/space.proto
  proto/warden/warden/v1beta3/tx.proto
  tests/cases/add_remove_owner.go
  tests/cases/approve_any_3_action.go
  tests/cases/create_space.go
  tests/cases/keychain_writers.go
  tests/cases/owner_approve_action.go
  warden/x/warden/keeper/msg_server_add_space_owner.go
  warden/x/warden/keeper/msg_server_new_key_request.go
  warden/x/warden/keeper/msg_server_new_sign_request.go
  warden/x/warden/keeper/msg_server_new_space.go
  warden/x/warden/keeper/msg_server_remove_space_owner.go
  warden/x/warden/keeper/msg_server_update_space.go
  warden/x/warden/types/v1beta3/errors.go
  warden/x/warden/types/v1beta3/space.go
  warden/x/warden/types/v1beta3/space.pb.go
  warden/x/warden/types/v1beta3/tx.pb.go
Labels: protocol, protobuf, x-warden

#776 feat(spaceward): improve close modal
  spaceward/src/features/modals/index.tsx
Labels: spaceward

#777 fix(spaceward): fix for validator ui issue #667
  spaceward/src/features/governance/Item.tsx
  spaceward/src/pages/Governance.tsx
Labels: spaceward

#774 feat(spaceward): metamask snap modal
  spaceward/src/features/metamask/InstallMetaMaskSnapButton.tsx
  spaceward/src/features/metamask/MetaMaskRequests.tsx
  spaceward/src/features/metamask/queries.ts
  spaceward/src/features/modals/ApproveSnapModal.tsx
  spaceward/src/features/modals/CreateKey.tsx
  spaceward/src/features/modals/KeySelector.tsx
  spaceward/src/features/modals/ReceiveAssets.tsx
  spaceward/src/features/modals/SendAssets.tsx
  spaceward/src/features/modals/index.tsx
  spaceward/src/features/modals/state.ts
Labels: spaceward

#780 fix(dockerfile): make libwasmvm readable
  Dockerfile
Labels: bug

#729 #631 Prune Actions
  CHANGELOG.md
  api/warden/act/v1beta1/events.pulsar.go
  api/warden/act/v1beta1/params.pulsar.go
  proto/warden/act/v1beta1/events.proto
  proto/warden/act/v1beta1/params.proto
  proto/warden/act/v1beta1/tx.proto
  warden.Dockerfile
  warden/x/act/keeper/abci.go
  warden/x/act/keeper/actions_keeper.go
  warden/x/act/keeper/keeper.go
  warden/x/act/module/module.go
  warden/x/act/types/v1beta1/events.pb.go
  warden/x/act/types/v1beta1/params.go
  warden/x/act/types/v1beta1/params.pb.go
Labels: protocol, protobuf

#793 fix(spaceward): updated chain id for devnet
  spaceward/src/config/chains.ts
Labels: spaceward

#795 fix(spaceward): build TxRaw without StargateClient
  spaceward/src/features/actions/hooks.ts
  spaceward/src/hooks/useClient.ts
Labels: spaceward

#791 add expected approval&reject expressions to MsgNewAction
  CHANGELOG.md
  api/warden/act/v1beta1/tx.pulsar.go
  proto/warden/act/v1beta1/tx.proto
  warden/x/act/keeper/actions.go
  warden/x/act/keeper/msg_server_new_action.go
  warden/x/act/types/v1beta1/tx.pb.go
  warden/x/warden/types/v1beta3/keychain.pb.go
  warden/x/warden/types/v1beta3/tx.pb.go
Labels: protocol, protobuf, x-warden

#797 feat(spaceward): handle transactions only in active tab
  spaceward/src/features/actions/Sidebar.tsx
  spaceward/src/features/actions/util.ts
Labels: spaceward

#790 Build an oapp
  docs/developer-docs/docs/build-an-app/build-a-custom-smart-contract.md
  docs/developer-docs/docs/build-an-app/build-the-frontend/_category_.json
  docs/developer-docs/docs/build-an-app/build-the-frontend/quick-start.md
  docs/developer-docs/docs/build-an-app/build-the-frontend/wardenjs-functions.md
  docs/developer-docs/docs/build-an-app/build-the-frontend/wardenui-components.md
  docs/developer-docs/docs/build-an-app/build-with-wardenjs.md
  docs/developer-docs/docs/build-an-app/examples-of-oapps.md
  docs/developer-docs/docs/build-an-app/introduction.md
  docs/developer-docs/docs/build-an-app/quick-start.md
  docs/developer-docs/docs/build-an-app/smart-contract-api-reference.md
  docs/developer-docs/docs/build-an-app/useful-links.md
  docs/developer-docs/docusaurus.config.ts
Labels: docs

#766 #724 Query rule by creator
  CHANGELOG.md
  api/warden/act/v1beta1/query.pulsar.go
  proto/warden/act/v1beta1/query.proto
  warden/x/act/keeper/query_rules.go
  warden/x/act/types/v1beta1/query.pb.go
Labels: protocol, protobuf

#801 Release wardenjs 0.0.9
  wardenjs/CHANGELOG.md
  wardenjs/package.json
  wardenjs/src/codegen/cosmos/bundle.ts
  wardenjs/src/codegen/ethermint/bundle.ts
  wardenjs/src/codegen/slinky/bundle.ts
  wardenjs/src/codegen/warden/act/v1beta1/action.ts
  wardenjs/src/codegen/warden/act/v1beta1/action_vote.ts
  wardenjs/src/codegen/warden/act/v1beta1/events.ts
  wardenjs/src/codegen/warden/act/v1beta1/params.ts
  wardenjs/src/codegen/warden/act/v1beta1/tx.amino.ts
  wardenjs/src/codegen/warden/act/v1beta1/tx.registry.ts
  wardenjs/src/codegen/warden/act/v1beta1/tx.rpc.msg.ts
  wardenjs/src/codegen/warden/act/v1beta1/tx.ts
  wardenjs/src/codegen/warden/bundle.ts
Labels: wardenjs

#815 fix(spaceward): fixes for devnet and evmOS updates
  spaceward/src/components/ui/icons-assets.tsx
  spaceward/src/components/ui/icons-crypto.tsx
  spaceward/src/components/ui/icons.tsx
  spaceward/src/features/actions/Sidebar.tsx
  spaceward/src/features/actions/util.ts
  spaceward/src/features/assets/hooks.ts
  spaceward/src/features/dashboard/Keys.tsx
  spaceward/src/features/dashboard/StakingCard.tsx
  spaceward/src/features/dashboard/icons.tsx
  spaceward/src/features/governance/DetailsModal.tsx
  spaceward/src/features/governance/Item.tsx
  spaceward/src/features/intents/hooks.ts
  spaceward/src/features/keychains/icons.tsx
  spaceward/src/features/modals/Confirm.tsx
  spaceward/src/features/modals/index.tsx
  spaceward/src/features/modals/state.ts
  spaceward/src/features/modals/types.ts
  spaceward/src/features/owners/Icons.tsx
  spaceward/src/features/staking/DetailsModal.tsx
  spaceward/src/features/staking/RedelegateModal.tsx
  spaceward/src/features/staking/StakingHeading.tsx
  spaceward/src/features/staking/util.ts
  spaceward/src/features/walletconnect/WalletConnect.tsx
  spaceward/src/layouts/icons.tsx
  spaceward/src/pages/Intents.tsx
  spaceward/src/pages/Root.tsx
  spaceward/src/types/shield.ts
  spaceward/src/utils/shield.ts
Labels: spaceward

#824 Test fixes
  warden/x/act/keeper/actions.go
  warden/x/act/types/v1beta1/expression.go
Labels: bug, protocol, go

#812 779 handle approve reject expressions
  CHANGELOG.md
  api/warden/act/v1beta1/tx.pulsar.go
  api/warden/warden/v1beta3/events.pulsar.go
  api/warden/warden/v1beta3/key.pulsar.go
  api/warden/warden/v1beta3/space.pulsar.go
  api/warden/warden/v1beta3/tx.pulsar.go
  proto/warden/act/v1beta1/tx.proto
  proto/warden/warden/v1beta3/events.proto
  proto/warden/warden/v1beta3/key.proto
  proto/warden/warden/v1beta3/space.proto
  proto/warden/warden/v1beta3/tx.proto
  tests/cases/approve_any_3_action.go
  tests/cases/owner_approve_action.go
  warden/x/act/client/actions.go
  warden/x/act/keeper/actions.go
  warden/x/act/keeper/msg_server_new_action.go
  warden/x/act/types/v1beta1/errors.go
  warden/x/act/types/v1beta1/registry.go
  warden/x/act/types/v1beta1/tx.pb.go
  warden/x/warden/keeper/msg_server_update_key.go
  warden/x/warden/keeper/msg_server_update_space.go
  warden/x/warden/keeper/rules.go
  warden/x/warden/types/v1beta3/events.pb.go
  warden/x/warden/types/v1beta3/key.pb.go
  warden/x/warden/types/v1beta3/space.go
  warden/x/warden/types/v1beta3/space.pb.go
  warden/x/warden/types/v1beta3/tx.pb.go
Labels: protocol, protobuf, x-warden

#839 833 wardenjs `x/act 2`
  wardenjs/src/codegen/hooks.ts
  wardenjs/src/codegen/warden/act/v1beta1/action.ts
  wardenjs/src/codegen/warden/act/v1beta1/action_vote.ts
  wardenjs/src/codegen/warden/act/v1beta1/events.ts
  wardenjs/src/codegen/warden/act/v1beta1/genesis.ts
  wardenjs/src/codegen/warden/act/v1beta1/query.lcd.ts
  wardenjs/src/codegen/warden/act/v1beta1/query.rpc.Query.ts
  wardenjs/src/codegen/warden/act/v1beta1/query.ts
  wardenjs/src/codegen/warden/act/v1beta1/template.ts
  wardenjs/src/codegen/warden/act/v1beta1/tx.amino.ts
  wardenjs/src/codegen/warden/act/v1beta1/tx.registry.ts
  wardenjs/src/codegen/warden/act/v1beta1/tx.rpc.msg.ts
  wardenjs/src/codegen/warden/act/v1beta1/tx.ts
  wardenjs/src/codegen/warden/bundle.ts
  wardenjs/src/codegen/warden/warden/v1beta3/events.ts
  wardenjs/src/codegen/warden/warden/v1beta3/key.ts
  wardenjs/src/codegen/warden/warden/v1beta3/space.ts
  wardenjs/src/codegen/warden/warden/v1beta3/tx.ts
Labels: protocol, protobuf, test, wardenjs, x-warden

#835 reject tests
  tests/cases/cases.go
  tests/cases/owner_approve_action.go
  tests/cases/owner_reject_action.go
  tests/cases/reject_any_3_action.go
  tests/testdata/snapshot-base/config/genesis.json
  tests/testdata/snapshot-base/config/gentx/gentx-01e813234f9a16dfeed98b1c8df08ca4354ceaf5.json
  tests/testdata/snapshot-base/config/gentx/gentx-fbdc448d1b9d984484fb11a43a659ec6a9c37b88.json
  tests/testdata/snapshot-base/config/node_key.json
  tests/testdata/snapshot-base/config/priv_validator_key.json
  tests/testdata/snapshot-base/keyring-test/0c47f8d9d3647451f3afdc04d21d74a41f3bb505.address
  tests/testdata/snapshot-base/keyring-test/370cdd3e6745713018454040ed579088dff8f084.address
  tests/testdata/snapshot-base/keyring-test/alice.info
  tests/testdata/snapshot-keychain/config/genesis.json
  tests/testdata/snapshot-keychain/config/gentx/gentx-21a1fe28f693277c336fe471094741eb9edb6c33.json
  tests/testdata/snapshot-keychain/config/gentx/gentx-fa2b60327a87cbf7e17430f62307b66404a431d6.json
  tests/testdata/snapshot-keychain/config/node_key.json
  tests/testdata/snapshot-keychain/config/priv_validator_key.json
  tests/testdata/snapshot-keychain/keyring-test/014e1f22c024f53172b2ec4ba77595009a5a8d97.address
  tests/testdata/snapshot-keychain/keyring-test/0771adbb1fa38e78213bd350e5192b1380984045.address
  tests/testdata/snapshot-keychain/keyring-test/42bce85c5294ebed9d3ad6910b2fbd74eb237b73.address
  tests/testdata/snapshot-keychain/keyring-test/5b6bb8fd18d46ebd277fab7f44d5f34a50264fb9.address
  tests/testdata/snapshot-keychain/keyring-test/a11562a90ba0612c68e427b64809ed4b50431764.address
  tests/testdata/snapshot-keychain/keyring-test/bob.info
  tests/testdata/snapshot-keychain/keyring-test/db6dc8882333ce2b44c4b7ab57a40d0ec174cb34.address
  tests/testdata/snapshot-keychain/keyring-test/val.info
  tests/testdata/snapshot-keychain/keyring-test/writer.info
  tests/testdata/snapshot-many-users/config/genesis.json
  tests/testdata/snapshot-many-users/config/gentx/gentx-5c3f5be548869de4c729a1868ecccaf6786164fb.json
  tests/testdata/snapshot-many-users/config/gentx/gentx-bf961c82820f8b45262d42d29d5b5eed6aa82998.json
  tests/testdata/snapshot-many-users/config/node_key.json
  tests/testdata/snapshot-many-users/config/priv_validator_key.json
  tests/testdata/snapshot-many-users/keyring-test/152460c2a0b87f0bdb86b26d43b6b6e4303ca2fd.address
  tests/testdata/snapshot-many-users/keyring-test/1cf90ddb0e40caf90df8abed942c114d0e25476f.address
  tests/testdata/snapshot-many-users/keyring-test/57ff6c09751305d95096e7b69bf62784450b00b1.address
  tests/testdata/snapshot-many-users/keyring-test/71888ecb7124b1258a0cd9492cf5ddbd5c875416.address
  tests/testdata/snapshot-many-users/keyring-test/806b596dcce7d6ec57c299900b1a1aa75462f536.address
  tests/testdata/snapshot-many-users/keyring-test/93258175732613f8e73b3f439638a038de8a64d7.address
  tests/testdata/snapshot-many-users/keyring-test/972e909cef6b4ea1ab3c484f4e53cb2b5d8bd56f.address
  tests/testdata/snapshot-many-users/keyring-test/aa00e7853f399dc38c92c2411bc6698ac97402ac.address
  tests/testdata/snapshot-many-users/keyring-test/alice.info
  tests/testdata/snapshot-many-users/keyring-test/bob.info
  tests/testdata/snapshot-many-users/keyring-test/charlie.info
  tests/testdata/snapshot-many-users/keyring-test/dave.info
  tests/testdata/snapshot-many-users/keyring-test/df8e4a993a111e4cd965873a463762494a4d86c2.address
  tests/testdata/snapshot-many-users/keyring-test/e0e6e6a087b9f2e604c22c073681d563e0e28de2.address
  tests/testdata/snapshot-many-users/keyring-test/e1dba28c2ce851da31adcfdcb212059d1d49ffab.address
  tests/testdata/snapshot-many-users/keyring-test/e38ebd489c7069021657a0f690ebfebd1c374f56.address
  tests/testdata/snapshot-many-users/keyring-test/erin.info
  tests/testdata/snapshot-many-users/keyring-test/frank.info
  warden/x/act/keeper/actions.go
Labels: protocol

#843 feat(spaceward): add approve intent block; fix updated types
  spaceward/pnpm-lock.yaml
  spaceward/src/components/TxMsgDetails.tsx
  spaceward/src/components/ui/use-toast.ts
  spaceward/src/features/actions/Action.tsx
  spaceward/src/features/actions/Actions.tsx
  spaceward/src/features/actions/ApproveSidebar.tsx
  spaceward/src/features/actions/StatusSidebar.tsx
  spaceward/src/features/intents/hooks.ts
  spaceward/src/features/modals/CreateKey.tsx
  spaceward/src/hooks/useAction.ts
  spaceward/src/layouts/sidebar.tsx
  spaceward/src/utils/shield.ts
  wardenjs/pnpm-lock.yaml
Labels: spaceward, wardenjs

#862 feat(spaceward): qa bugfixes
  spaceward/src/assets/main.css
  spaceward/src/components/ConnectWallet.tsx
  spaceward/src/components/FaucetButton.tsx
  spaceward/src/components/TxMsgDetails.tsx
  spaceward/src/components/ui/card-row.tsx
  spaceward/src/components/ui/select.tsx
  spaceward/src/features/actions/Action.tsx
  spaceward/src/features/actions/Actions.tsx
  spaceward/src/features/dashboard/Governance.tsx
  spaceward/src/features/dashboard/StakingCard.tsx
  spaceward/src/features/explorer/Explorer.tsx
  spaceward/src/features/intents/hooks.ts
  spaceward/src/features/metamask/MetaMaskRequests.tsx
  spaceward/src/features/modals/CreateKey.tsx
  spaceward/src/features/modals/KeySelector.tsx
  spaceward/src/features/owners/OwnerCard.tsx
  spaceward/src/features/staking/StakingHeading.tsx
  spaceward/src/pages/Actions.tsx
  spaceward/src/pages/Assets.tsx
  spaceward/src/utils/shield.ts
Labels: spaceward

#876 chore(snap): updated metamask snap version
  snap/package.json
  snap/snap.manifest.json
Labels: snap

#868 feat(spaceward): technical debt
  spaceward/entrypoint.sh
  spaceward/src/config/tokens.ts
  spaceward/src/env.ts
  spaceward/src/features/actions/StatusSidebar.tsx
  spaceward/src/features/actions/util.ts
  spaceward/src/features/assets/hooks.ts
  spaceward/src/features/assets/queries.ts
  spaceward/src/features/metamask/InstallMetaMaskSnapButton.tsx
  spaceward/src/features/modals/AssetSelector.tsx
  spaceward/src/hooks/useMetaMaskRequestSnap.ts
  spaceward/src/lib/eth/constants.ts
  spaceward/src/lib/metamask.ts
  spaceward/src/pages/Assets.tsx
Labels: spaceward

#877 feat(spaceward): fix qa issues
  Dockerfile
  spaceward/src/components/ui/copy.tsx
  spaceward/src/features/actions/StatusSidebar.tsx
  spaceward/src/features/modals/AssetSelector.tsx
  spaceward/src/features/modals/ReceiveAssets.tsx
  spaceward/src/features/modals/index.tsx
  spaceward/src/utils/shield.ts
Labels: spaceward

#863 fix(spaceward): Fix main background color on light theme
  spaceward/src/assets/main.css
Labels: spaceward

#880 chore(spaceward): added chiado chain to spaceward config
  spaceward/src/App.tsx
  spaceward/src/config/chains.ts
Labels: spaceward

#882 feat(spaceward): fix max value in staking
  spaceward/src/features/staking/StakeModal.tsx
Labels: spaceward

#866 GMP tutorial
  docs/developer-docs/docs/build-a-keychain/build-a-keychain-app.md
  docs/developer-docs/docs/build-a-keychain/implementations/clichain.md
  docs/developer-docs/docs/build-an-app/deploy-smart-contracts-on-warden/_category_.json
  docs/developer-docs/docs/build-an-app/deploy-smart-contracts-on-warden/deploy-a-cross-chain-app.md
  docs/developer-docs/docs/build-an-app/deploy-smart-contracts-on-warden/deploy-a-wasm-contract.md
  docs/developer-docs/docs/build-an-app/deploy-smart-contracts-on-warden/deploy-an-evm-contract.md
  docs/developer-docs/docs/build-an-app/introduction.md
  docs/developer-docs/docs/learn/warden-protocol-modules/external-modules.md
  docs/developer-docs/docs/learn/warden-protocol-modules/x-warden.md
  docs/developer-docs/docs/operate-a-node/buenavista-testnet/join-buenavista.md
  docs/developer-docs/docs/operate-a-node/create-a-validator.md
  docs/developer-docs/docs/operate-a-node/run-a-local-chain.md
Labels: docs

#891 feat(spaceward): health check cosmos rpc on asset page
  spaceward/src/components/ConnectWallet.tsx
  spaceward/src/components/ui/icons-crypto.tsx
  spaceward/src/features/actions/util.ts
  spaceward/src/features/assets/hooks.ts
  spaceward/src/features/assets/queries.ts
  spaceward/src/features/staking/StakingHeading.tsx
Labels: spaceward

#893 feat(spaceward): fix key creation on small resolutions
  spaceward/src/components/TxMsgDetails.tsx
  spaceward/src/features/keys/Keys.tsx
  spaceward/src/hooks/state.tsx
  spaceward/src/utils/formatting.ts
Labels: spaceward

#894 feat(spaceward): catch broadcast error
  spaceward/src/features/actions/StatusSidebar.tsx
  spaceward/src/lib/datetime.ts
Labels: spaceward
