Repository warden-protocol/wardenprotocol, pull requests merged in 2024-08, with the labels that each got.

#588 fix(spaceward): Fix light theme in receive asset modal
  spaceward/src/features/modals/AssetSelector.tsx
  spaceward/src/features/modals/KeySelector.tsx
  spaceward/src/features/modals/ReceiveAssets.tsx
Labels: spaceward

#590 fix(spaceward): minor fixes across all screens
  spaceward/src/App.tsx
  spaceward/src/components/AddressAvatar.tsx
  spaceward/src/components/ConnectWallet.tsx
  spaceward/src/components/ui/icons-crypto.tsx
  spaceward/src/components/ui/toast.tsx
  spaceward/src/features/assets/AssetRow.tsx
  spaceward/src/features/dashboard/Actions.tsx
  spaceward/src/features/dashboard/Chart.tsx
  spaceward/src/features/dashboard/Dapps.tsx
  spaceward/src/features/dashboard/DashboardGraph.tsx
  spaceward/src/features/dashboard/Keys.tsx
  spaceward/src/features/dashboard/mock.ts
  spaceward/src/features/intents/CreateIntentModal.tsx
  spaceward/src/features/keychains/KeychainCard.tsx
  spaceward/src/features/keys/Keys.tsx
  spaceward/src/features/modals/AssetSelector.tsx
  spaceward/src/features/modals/CreateKey.tsx
  spaceward/src/features/modals/KeySelector.tsx
  spaceward/src/features/spaces/NoSpaces.tsx
  spaceward/src/features/spaces/SpaceSelector.tsx
  spaceward/src/features/staking/StakeModal.tsx
  spaceward/src/layouts/right-sidebar.tsx
  spaceward/src/layouts/sidebar.tsx
  spaceward/src/pages/Assets.tsx
  spaceward/src/pages/Governance.tsx
  spaceward/src/pages/Intents.tsx
  spaceward/src/pages/Keys.tsx
  spaceward/src/pages/Owners.tsx
  spaceward/src/pages/Staking.tsx
Labels: spaceward

#594 hotfix transactions
  spaceward/src/features/modals/KeySelector.tsx
  spaceward/src/features/walletconnect/util.ts
Labels: spaceward

#597 added hardcoded osmo prices; fixed available staking
  spaceward/src/features/assets/queries.ts
  spaceward/src/pages/Staking.tsx
Labels: spaceward

#598 staked ward amount fix
  spaceward/src/pages/Staking.tsx
Labels: spaceward

#599 fix(spaceward): missed some intents to rules renaming
  spaceward/src/features/intents/CreateIntentModal.tsx
  spaceward/src/features/intents/Intent.tsx
Labels: spaceward

#601 fix(spaceward): fixed some issues related to keys/spaces avatars
  spaceward/src/features/assets/AssetTableRow.tsx
  spaceward/src/features/keys/Keys.tsx
  spaceward/src/features/keys/KeysDropdown.tsx
  spaceward/src/features/modals/ConnectedModal.tsx
  spaceward/src/features/modals/WCBindSpace.tsx
  spaceward/src/features/walletconnect/WalletConnect.tsx
  spaceward/src/pages/Assets.tsx
Labels: spaceward

#602 fix(spaceward): fix issue #500 - max button sending funds
  spaceward/src/features/modals/SendAssets.tsx
Labels: spaceward

#605 fix for https://github.com/warden-protocol/wardenprotocol/issues/365
  spaceward/src/features/intents/AdvancedMode.tsx
  spaceward/src/features/intents/IntentCondition.tsx
Labels: spaceward

#604 fix(spaceward): add keychain descriptions
  spaceward/src/features/keychains/description.tsx
  spaceward/src/features/modals/CreateKey.tsx
Labels: spaceward

#608 fix(spaceward): Fix key naming in dropdown refs issue #606
  spaceward/src/features/keys/KeysDropdown.tsx
  spaceward/src/pages/Assets.tsx
Labels: spaceward

#612 fixes https://github.com/warden-protocol/wardenprotocol/issues/524
  spaceward/src/hooks/useWebRTCTransport.ts
Labels: spaceward

#574 #546 Added KeyChain Fees validity check
  warden/x/warden/keeper/msg_server_new_keychain.go
  warden/x/warden/keeper/msg_server_update_keychain.go
  warden/x/warden/types/v1beta3/keychain.go
Labels: protocol, x-warden

#613 fix(spaceward): issue-607
  spaceward/src/features/intents/Intent.tsx
Labels: spaceward

#615 feat(spaceward): add cosmos chain config
  spaceward/src/features/assets/hooks.ts
  spaceward/src/features/assets/queries.ts
  spaceward/src/features/assets/util.ts
  spaceward/src/features/dashboard/Chart.tsx
  spaceward/src/features/keys/Keys.tsx
  spaceward/src/features/modals/KeySelector.tsx
  spaceward/src/features/modals/ReceiveAssets.tsx
  spaceward/src/features/modals/SendAssets.tsx
  spaceward/src/features/modals/util.ts
  spaceward/src/features/walletconnect/util.ts
  spaceward/src/hooks/useKeychainSigner.tsx
Labels: spaceward

#626 feat(spaceward): add update spaces screen
  spaceward/src/features/actions/Actions.tsx
  spaceward/src/features/spaces/UpdateSpaces.tsx
  spaceward/src/features/spaces/index.ts
  spaceward/src/pages/Root.tsx
Labels: spaceward

#585 Fix running local chain
  docs/developer-docs/docs/build-an-oapp/test/run-a-local-chain.md
Labels: docs

#624 feat(spaceward): Adding slinky support
  spaceward/src/features/assets/hooks.ts
  spaceward/src/features/assets/queries.ts
  spaceward/src/features/assets/types.ts
  spaceward/src/features/dashboard/DashboardGraph.tsx
  wardenjs/proto/slinky/marketmap/module/v1/module.proto
  wardenjs/proto/slinky/marketmap/v1/genesis.proto
  wardenjs/proto/slinky/marketmap/v1/market.proto
  wardenjs/proto/slinky/marketmap/v1/params.proto
  wardenjs/proto/slinky/marketmap/v1/query.proto
  wardenjs/proto/slinky/marketmap/v1/tx.proto
  wardenjs/proto/slinky/oracle/module/v1/module.proto
  wardenjs/proto/slinky/oracle/v1/genesis.proto
  wardenjs/proto/slinky/oracle/v1/query.proto
  wardenjs/proto/slinky/oracle/v1/tx.proto
  wardenjs/proto/slinky/types/v1/currency_pair.proto
  wardenjs/src/codegen/cosmos/bundle.ts
  wardenjs/src/codegen/hooks.ts
  wardenjs/src/codegen/index.ts
  wardenjs/src/codegen/shield/bundle.ts
  wardenjs/src/codegen/slinky/bundle.ts
  wardenjs/src/codegen/slinky/client.ts
  wardenjs/src/codegen/slinky/lcd.ts
  wardenjs/src/codegen/slinky/marketmap/module/v1/module.ts
  wardenjs/src/codegen/slinky/marketmap/v1/genesis.ts
  wardenjs/src/codegen/slinky/marketmap/v1/market.ts
  wardenjs/src/codegen/slinky/marketmap/v1/params.ts
  wardenjs/src/codegen/slinky/marketmap/v1/query.lcd.ts
  wardenjs/src/codegen/slinky/marketmap/v1/query.rpc.Query.ts
  wardenjs/src/codegen/slinky/marketmap/v1/query.ts
  wardenjs/src/codegen/slinky/marketmap/v1/tx.amino.ts
  wardenjs/src/codegen/slinky/marketmap/v1/tx.registry.ts
  wardenjs/src/codegen/slinky/marketmap/v1/tx.rpc.msg.ts
  wardenjs/src/codegen/slinky/marketmap/v1/tx.ts
  wardenjs/src/codegen/slinky/oracle/module/v1/module.ts
  wardenjs/src/codegen/slinky/oracle/v1/genesis.ts
  wardenjs/src/codegen/slinky/oracle/v1/query.lcd.ts
  wardenjs/src/codegen/slinky/oracle/v1/query.rpc.Query.ts
  wardenjs/src/codegen/slinky/oracle/v1/query.ts
  wardenjs/src/codegen/slinky/oracle/v1/tx.amino.ts
  wardenjs/src/codegen/slinky/oracle/v1/tx.registry.ts
  wardenjs/src/codegen/slinky/oracle/v1/tx.rpc.msg.ts
  wardenjs/src/codegen/slinky/oracle/v1/tx.ts
  wardenjs/src/codegen/slinky/rpc.query.ts
  wardenjs/src/codegen/slinky/rpc.tx.ts
  wardenjs/src/codegen/slinky/types/v1/currency_pair.ts
  wardenjs/src/codegen/tendermint/bundle.ts
  wardenjs/src/codegen/warden/act/v1beta1/genesis.ts
  wardenjs/src/codegen/warden/act/v1beta1/query.ts
  wardenjs/src/codegen/warden/bundle.ts
  wardenjs/src/codegen/warden/warden/v1beta3/events.ts
  wardenjs/src/codegen/warden/warden/v1beta3/query.ts
  wardenjs/src/codegen/warden/warden/v1beta3/tx.ts
Labels: spaceward, wardenjs

#648 fix(x/warden): non-determinism in v3 migration
  CHANGELOG.md
  warden/x/warden/migrations/v3/store.go
Labels: protocol, x-warden

#641 improved the Run a local chain guide
  docs/developer-docs/docs/build-an-oapp/test/run-a-local-chain.md
Labels: docs

#654 docs: upgrade node to v0.4.1
  docs/developer-docs/docs/operate-a-node/buenavista-testnet/join-buenavista.md
  docs/developer-docs/docs/operate-a-node/buenavista-testnet/upgrade/v0.4.0.md
Labels: docs

#614 fix(spaceward): fix issue #610
  spaceward/src/components/ui/ToastComponent.tsx
  spaceward/src/components/ui/toaster.tsx
Labels: spaceward

#625 fix(spaceward): fix some issues
  spaceward/src/features/modals/WalletConnect.tsx
  spaceward/src/features/modals/index.tsx
  spaceward/src/pages/Staking.tsx
Labels: spaceward

#644 fix(spaceward): Some dashboard, login screen, fonts and light theme fixes
  spaceward/public/fonts/Alliance-NeueBold.ttf
  spaceward/public/fonts/Alliance-NeueMedium.ttf
  spaceward/public/fonts/Alliance-NeueRegular.ttf
  spaceward/public/fonts/Alliance-NeueSemiBold.ttf
  spaceward/public/landing-bg-light.svg
  spaceward/src/assets/main.css
  spaceward/src/components/FaucetButton.tsx
  spaceward/src/features/dashboard/Actions.tsx
  spaceward/src/features/dashboard/Dapps.tsx
  spaceward/src/features/dashboard/DashboardGraph.tsx
  spaceward/src/features/dashboard/Governance.tsx
  spaceward/src/features/dashboard/Key.tsx
  spaceward/src/features/dashboard/Keys.tsx
  spaceward/src/features/dashboard/StakingCard.tsx
  spaceward/src/features/dashboard/icons.tsx
  spaceward/src/features/keys/NewKeyButton.tsx
  spaceward/src/features/modals/CreateKey.tsx
  spaceward/src/features/spaces/NoSpaces.tsx
  spaceward/src/features/spaces/SpaceSelector.tsx
  spaceward/src/features/wallet/Connect.tsx
  spaceward/src/features/walletconnect/WalletConnect.tsx
  spaceward/src/layouts/right-sidebar.tsx
  spaceward/src/layouts/sidebar.tsx
  spaceward/src/pages/Assets.tsx
  spaceward/src/pages/Dashboard.tsx
  spaceward/src/pages/Root.tsx
  spaceward/tailwind.config.ts
Labels: spaceward

#664 fix(spaceward): light theme, buttons etc
  spaceward/public/images/asset-decor-light.png
  spaceward/public/images/asset-decor.png
  spaceward/src/assets/main.css
  spaceward/src/features/keys/NewKeyButton.tsx
  spaceward/src/pages/Assets.tsx
  spaceward/tailwind.config.ts
Labels: spaceward

#666 fix(spaceward): Fix wallet popover
  spaceward/src/components/ConnectWallet.tsx
  spaceward/src/layouts/right-sidebar.tsx
Labels: spaceward

#674 fix(spaceward): whitelist keychains to hide test or non-functioning ones
  spaceward/src/features/keychains/description.tsx
  spaceward/src/features/modals/CreateKey.tsx
  spaceward/src/pages/Keychains.tsx
Labels: spaceward

#609 Docs spaceward
  docs/developer-docs/vercel.json
  docs/help-center.lnk
  docs/help-center/docs/spaceward/buenavista-quick-start.md
  docs/help-center/docs/spaceward/connect-your-wallet.md
  docs/help-center/docs/spaceward/create-a-space.md
  docs/help-center/docs/spaceward/enable-metamask-snap.md
  docs/help-center/docs/spaceward/get-test-ward.md
  docs/help-center/docs/spaceward/introduction.md
  docs/help-center/docs/spaceward/manage-assets.md
  docs/help-center/docs/spaceward/manage-intents.md
  docs/help-center/docs/spaceward/manage-keys.md
  docs/help-center/docs/spaceward/manage-owners.md
  docs/help-center/docs/spaceward/manage-rules.md
  docs/help-center/docs/spaceward/manage-spaces.md
  docs/help-center/docs/spaceward/participate-in-governance.md
  docs/help-center/docs/spaceward/request-a-new-key.md
  docs/help-center/docs/spaceward/stake-ward.md
  docs/help-center/docs/spaceward/use-dapps.md
  docs/help-center/docs/spaceward/use-the-block-explorer.md
  docs/help-center/docs/spaceward/use-walletconnect.md
  docs/help-center/static/img/connected-wallet-address.png
  docs/help-center/static/img/edit-rule-1.png
  docs/help-center/static/img/edit-rule-2.png
  docs/help-center/static/img/edit-rule-advanced.png
  docs/help-center/static/img/enable-rule.png
  docs/help-center/static/img/get-key-address.png
  docs/help-center/static/img/get-test-ward.png
  docs/help-center/static/img/manage-spaces.png
  docs/help-center/static/img/manage-stake.png
  docs/help-center/static/img/metamask-snap-accounts-preview.jpg
  docs/help-center/static/img/metamask-snap.png
  docs/help-center/static/img/spaceward-overview.png
  docs/help-center/static/img/stake-details-1.png
  docs/help-center/static/img/view-key-details.png
  docs/help-center/static/img/voting-power.png
  docs/help-center/static/img/walletconnect.png
Labels: docs

#675 fix(spaceward): fix for keys on dashboard and other mobile fixes #668
  spaceward/src/features/dashboard/DashboardGraph.tsx
  spaceward/src/features/dashboard/Governance.tsx
  spaceward/src/features/dashboard/Key.tsx
  spaceward/src/features/dashboard/Keys.tsx
  spaceward/src/features/keys/Keys.tsx
  spaceward/src/pages/Dashboard.tsx
Labels: spaceward

#677 fix(spaceward): show the correct space avatar for connected dapps
  spaceward/src/features/modals/ConnectedModal.tsx
Labels: spaceward

#678 fix(spaceward): updated column widths for validators
  spaceward/src/components/AddressAvatar.tsx
  spaceward/src/features/dashboard/Keys.tsx
  spaceward/src/features/spaces/SpaceSelector.tsx
  spaceward/src/features/staking/StakeModal.tsx
  spaceward/src/features/staking/StakingHeading.tsx
  spaceward/src/features/staking/ValidatorRow.tsx
  spaceward/src/features/staking/hooks.ts
  spaceward/src/pages/Staking.tsx
Labels: spaceward

#684 fix(spaceward): some owner page fixes
  spaceward/src/components/ui/copy.tsx
  spaceward/src/features/modals/AddOwner.tsx
  spaceward/src/features/owners/Icons.tsx
  spaceward/src/features/owners/OwnerCard.tsx
  spaceward/src/features/spaces/SpaceSelector.tsx
  spaceward/src/pages/Owners.tsx
Labels: spaceward

#686 fix(spaceward): fixes issue #297
  spaceward/src/features/intents/Intent.tsx
  spaceward/src/features/intents/IntentCondition.tsx
Labels: spaceward

#689 Upgrade keychain docs
  docs/developer-docs/docs/build-a-keychain/quick-start.md
Labels: docs

#699 fix(spaceward): readded metamask button for keys
  spaceward/src/features/actions/Sidebar.tsx
  spaceward/src/features/keys/Keys.tsx
  spaceward/src/features/metamask/AddToMetaMaskButton.tsx
Labels: spaceward

#704 Updated REST interface
  api/warden/warden/v1beta3/inference.pulsar.go
  proto/warden/warden/v1beta3/inference.proto
  tests/go.mod
  tests/go.sum
  warden/app/inference/inference.go
  warden/app/oracle.go
  warden/x/warden/client/cli/tx.go
  warden/x/warden/types/v1beta3/inference.pb.go
Labels: protocol, protobuf, x-warden

#707 Docs aibi
  docs/developer-docs/docs/build-a-keychain/introduction.md
  docs/developer-docs/docs/build-a-keychain/quick-start.md
  docs/developer-docs/docs/build-an-app/build-a-custom-smart-contract.md
  docs/developer-docs/docs/build-an-app/build-the-frontend/_category_.json
  docs/developer-docs/docs/build-an-app/build-the-frontend/quick-start.md
  docs/developer-docs/docs/build-an-app/build-the-frontend/wardenjs-functions.md
  docs/developer-docs/docs/build-an-app/build-the-frontend/wardenui-components.md
  docs/developer-docs/docs/build-an-app/build-with-wardenjs.md
  docs/developer-docs/docs/build-an-app/examples-of-oapps.md
  docs/developer-docs/docs/build-an-app/introduction.md
  docs/developer-docs/docs/build-an-app/quick-start.md
  docs/developer-docs/docs/build-an-app/smart-contract-api-reference.md
  docs/developer-docs/docs/build-an-app/test/_category_.json
  docs/developer-docs/docs/build-an-app/test/run-a-keychain-from-cli.md
  docs/developer-docs/docs/build-an-app/test/run-a-local-chain.md
  docs/developer-docs/docs/build-an-app/useful-links.md
  docs/developer-docs/docs/learn/aibi.md
  docs/developer-docs/docs/learn/bridging.md
  docs/developer-docs/docs/learn/glossary.md
  docs/developer-docs/docs/learn/introduction-to-warden.md
  docs/developer-docs/docs/learn/oracle-services.md
  docs/developer-docs/docs/learn/request-flow.md
  docs/developer-docs/docs/learn/warden-protocol-modules/_category_.json
  docs/developer-docs/docs/learn/warden-protocol-modules/external-modules.md
  docs/developer-docs/docs/learn/whitepaper.md
  docs/developer-docs/docs/operate-a-node/introduction.md
  docs/developer-docs/docusaurus.config.ts
  docs/developer-docs/sidebars.ts
  docs/developer-docs/vercel.json
  docs/help-center/.spelling
Labels: docs

#708 added AIBI, removed interoperability
  docs/developer-docs/docs/learn/glossary.md
  docs/developer-docs/docs/learn/introduction-to-warden.md
Labels: docs

#710 feat(docs): rebrand updates for docs and help center
  docs/developer-docs/docusaurus.config.ts
  docs/developer-docs/src/css/custom.css
  docs/developer-docs/static/fonts/alliance-neueblack-webfont.woff
  docs/developer-docs/static/fonts/alliance-neueblack-webfont.woff2
  docs/developer-docs/static/fonts/alliance-neuebold-webfont.woff
  docs/developer-docs/static/fonts/alliance-neuebold-webfont.woff2
  docs/developer-docs/static/fonts/alliance-neueextrabold-webfont.woff
  docs/developer-docs/static/fonts/alliance-neueextrabold-webfont.woff2
  docs/developer-docs/static/fonts/alliance-neuelight-webfont.woff
  docs/developer-docs/static/fonts/alliance-neuelight-webfont.woff2
  docs/developer-docs/static/fonts/alliance-neuemedium-webfont.woff
  docs/developer-docs/static/fonts/alliance-neuemedium-webfont.woff2
  docs/developer-docs/static/fonts/alliance-neueregular-webfont.woff
  docs/developer-docs/static/fonts/alliance-neueregular-webfont.woff2
  docs/developer-docs/static/fonts/alliance-neuesemibold-webfont.woff
  docs/developer-docs/static/fonts/alliance-neuesemibold-webfont.woff2
  docs/developer-docs/static/img/favicon.ico
  docs/developer-docs/static/img/favicon.svg
  docs/developer-docs/static/img/logo-dark.svg
  docs/developer-docs/static/img/logo.svg
  docs/help-center/docusaurus.config.ts
  docs/help-center/src/css/custom.css
  docs/help-center/static/fonts/alliance-neueblack-webfont.woff
  docs/help-center/static/fonts/alliance-neueblack-webfont.woff2
  docs/help-center/static/fonts/alliance-neuebold-webfont.woff
  docs/help-center/static/fonts/alliance-neuebold-webfont.woff2
  docs/help-center/static/fonts/alliance-neueextrabold-webfont.woff
  docs/help-center/static/fonts/alliance-neueextrabold-webfont.woff2
  docs/help-center/static/fonts/alliance-neuelight-webfont.woff
  docs/help-center/static/fonts/alliance-neuelight-webfont.woff2
  docs/help-center/static/fonts/alliance-neuemedium-webfont.woff
  docs/help-center/static/fonts/alliance-neuemedium-webfont.woff2
  docs/help-center/static/fonts/alliance-neueregular-webfont.woff
  docs/help-center/static/fonts/alliance-neueregular-webfont.woff2
  docs/help-center/static/fonts/alliance-neuesemibold-webfont.woff
  docs/help-center/static/fonts/alliance-neuesemibold-webfont.woff2
  docs/help-center/static/img/favicon.ico
  docs/help-center/static/img/favicon.svg
  docs/help-center/static/img/logo-dark.svg
  docs/help-center/static/img/logo.svg
  spaceward/src/features/metamask/MetaMaskRequests.tsx
Labels: docs, spaceward

#705 feat(spaceward) fix metamask snap
  snap/snap.manifest.json
  snap/src/index.ts
  spaceward/pnpm-lock.yaml
  spaceward/src/features/actions/Sidebar.tsx
  spaceward/src/features/actions/hooks.ts
  spaceward/src/features/metamask/MetaMaskRequests.tsx
  spaceward/src/hooks/useEthereumTx.tsx
  spaceward/src/hooks/useMetaMaskRequestSnap.ts
Labels: spaceward, snap

#712 added redirects for build an app
  docs/developer-docs/vercel.json
Labels: docs

#698 feat(spaceward): mainnet assets
  spaceward/src/components/ui/icons-crypto.tsx
  spaceward/src/config/tokens.ts
  spaceward/src/contracts/eip155/multicall3Abi.ts
  spaceward/src/features/assets/AssetRow.tsx
  spaceward/src/features/assets/AssetTableRow.tsx
  spaceward/src/features/assets/hooks.ts
  spaceward/src/features/assets/queries.ts
  spaceward/src/features/assets/types.ts
  spaceward/src/features/assets/util.ts
  spaceward/src/features/modals/AssetSelector.tsx
  spaceward/src/features/modals/ReceiveAssets.tsx
  spaceward/src/features/modals/SelectAsset.tsx
  spaceward/src/features/modals/SendAssets.tsx
  spaceward/src/features/staking/StakeModal.tsx
  spaceward/src/features/staking/ValidatorRow.tsx
  spaceward/src/lib/eth/constants.ts
  spaceward/src/lib/eth/index.ts
  spaceward/src/lib/eth/util.ts
  spaceward/src/lib/math.ts
  spaceward/src/pages/Assets.tsx
  spaceward/src/pages/Intents.tsx
  spaceward/src/types/util.ts
Labels: spaceward

#661 chore(justfile): use new modules feature to reorganize commands
  cmd/justfile
  justfile
  localnet.just
  proto/justfile
  wardend.just
Labels: protobuf

#651 fix(x/act): add support for sdk.Coins in CLI flags
  CHANGELOG.md
  warden/x/act/client/actions.go
Labels: protocol

#715 feat(spaceward): fix native token symbol
  spaceward/src/features/assets/queries.ts
  spaceward/src/lib/eth/constants.ts
  spaceward/src/lib/eth/util.ts
Labels: spaceward

#545 feat(docs): add mention of Skip Connect as a requirement for validators
  docs/developer-docs/docs/operate-a-node/delegation-plan.md
Labels: docs

#672 fix(doc): update genesis location for buenavista
  docs/developer-docs/docs/operate-a-node/buenavista-testnet/join-buenavista.md
Labels: docs

#717 updated the run-a-local-chain guide and improved the style in similar…
  docs/developer-docs/docs/build-an-app/test/run-a-local-chain.md
  docs/developer-docs/docs/learn/oracle-services.md
  docs/developer-docs/docs/operate-a-node/buenavista-testnet/join-buenavista.md
  docs/developer-docs/docs/operate-a-node/create-a-validator.md
  docs/developer-docs/docs/operate-a-node/delegation-plan.md
  docs/developer-docs/docs/tokens/ward-token/supply.md
  docs/developer-docs/docs/tokens/ward-token/ward.md
  docs/developer-docs/docs/tokens/warp-token/warp.md
Labels: docs

#720 fix(docs): updated body font for docs
  docs/developer-docs/src/css/custom.css
  docs/help-center/src/css/custom.css
  spaceward/src/env.ts
Labels: docs, spaceward

#722 fix(spaceward): removed console.log from staking screen
  spaceward/src/env.ts
  spaceward/src/pages/Staking.tsx
Labels: spaceward

#638 #560 user must be able to specify the keychain fee theyre willing to pay
  CHANGELOG.md
  api/warden/warden/v1beta3/events.pulsar.go
  api/warden/warden/v1beta3/tx.pulsar.go
  cmd/wardend/cmd/gen-keychains.go
  proto/warden/warden/v1beta3/tx.proto
  tests/cases/keychain_writers.go
  tests/justfile
  tests/testdata/snapshot-keychain/config/app.toml.tmpl
  tests/testdata/snapshot-keychain/config/config.toml.tmpl
  tests/testdata/snapshot-keychain/config/genesis.json
  tests/testdata/snapshot-keychain/config/gentx/gentx-4cd829820ddd7c474148063b17a9bcb39d0d7968.json
  tests/testdata/snapshot-keychain/config/gentx/gentx-ddf8fa75c9baf73c00db1b864d6e5fd42e09b36d.json
  tests/testdata/snapshot-keychain/config/node_key.json
  tests/testdata/snapshot-keychain/config/priv_validator_key.json
  tests/testdata/snapshot-keychain/keyring-test/0584e8dd25ffca6d116c72d015e9f5dab7e76f94.address
  tests/testdata/snapshot-keychain/keyring-test/0eea694a1d075627655a9a77f2afd0bde11c5246.address
  tests/testdata/snapshot-keychain/keyring-test/45a5b28966dfbae53651aa370cbbb54061186813.address
  tests/testdata/snapshot-keychain/keyring-test/48a7814de526a57c9f78e7215ef52d2b0a118e43.address
  tests/testdata/snapshot-keychain/keyring-test/97628288901c43e05c5ff1b01751397434fe994b.address
  tests/testdata/snapshot-keychain/keyring-test/bob.info
  tests/testdata/snapshot-keychain/keyring-test/f20fc3f50802b84f5ae313e1e8bf8311f1e1b50b.address
  tests/testdata/snapshot-keychain/keyring-test/val.info
  tests/testdata/snapshot-keychain/keyring-test/writer.info
  warden.Dockerfile
  warden/x/act/client/actions.go
  warden/x/act/keeper/actions.go
  warden/x/warden/keeper/keychain.go
  warden/x/warden/keeper/msg_server_new_key_request.go
  warden/x/warden/keeper/msg_server_new_sign_request.go
  warden/x/warden/types/v1beta3/events.pb.go
  warden/x/warden/types/v1beta3/tx.pb.go
Labels: protocol, protobuf, x-warden

#716 in executeAnalyzers return error on bad contract address
  CHANGELOG.md
  warden/x/warden/keeper/rules.go
Labels: protocol, x-warden

#706 docs: Update Keychain SDK
  docs/developer-docs/docs/build-a-keychain/keychain-sdk.md
  docs/developer-docs/docs/build-a-keychain/sdk/_category_.json
  docs/developer-docs/docs/build-a-keychain/sdk/keychain-sdk.md
  docs/developer-docs/docs/build-a-keychain/sdk/tutorial.md
  docs/developer-docs/docusaurus.config.ts
Labels: docs

#733 fixed links to the keychain sdk
  docs/developer-docs/docs/build-a-keychain/introduction.md
  docs/developer-docs/docs/learn/glossary.md
Labels: docs

#736 Restrict `nil` KeychainFees
  warden/x/warden/types/v1beta3/keychain.go
Labels: protocol, x-warden

#741 fix(wardend): ICAHostKeeper initialization requires QueryRouter to be set
  warden/app/legacy.go
Labels: protocol

#728 feat(spaceward): key creation in sidebar
  spaceward/package.json
  spaceward/pnpm-lock.yaml
  spaceward/src/components/SendEth.tsx
  spaceward/src/config/tokens.ts
  spaceward/src/env.ts
  spaceward/src/features/actions/Sidebar.tsx
  spaceward/src/features/actions/hooks.ts
  spaceward/src/features/actions/util.ts
  spaceward/src/features/assets/Assets.tsx
  spaceward/src/features/assets/hooks.ts
  spaceward/src/features/assets/queries.ts
  spaceward/src/features/home/HomeAssets.tsx
  spaceward/src/features/home/TotalAssetValue.tsx
  spaceward/src/features/intents/util/query.ts
  spaceward/src/features/metamask/MetaMaskRequests.tsx
  spaceward/src/features/modals/CreateKey.tsx
  spaceward/src/features/modals/SendAssets.tsx
  spaceward/src/features/modals/util.ts
  spaceward/src/features/walletconnect/util.ts
  spaceward/src/hooks/useEthereumTx.tsx
  spaceward/src/hooks/useKeychainSigner.tsx
  spaceward/src/lib/eth/constants.ts
  spaceward/src/pages/Intents.tsx
Labels: spaceward

#746 feat(spaceward): hotfix tx
  spaceward/src/config/tokens.ts
  spaceward/src/features/actions/Sidebar.tsx
  spaceward/src/features/actions/util.ts
  spaceward/src/features/assets/hooks.ts
  spaceward/src/features/modals/SendAssets.tsx
Labels: spaceward

#662 #561 Keychain fees should not be paid in advance
  CHANGELOG.md
  api/warden/warden/v1beta3/key.pulsar.go
  api/warden/warden/v1beta3/signature.pulsar.go
  cmd/wardend/cmd/gen-keychains.go
  localnet.just
  proto/warden/warden/v1beta3/key.proto
  proto/warden/warden/v1beta3/signature.proto
  tests/cases/keychain_writers.go
  tests/cases/owner_approve_action.go
  tests/framework/exec/warden_node.go
  warden/app/app_config.go
  warden/testutil/keeper/warden.go
  warden/x/warden/keeper/keeper.go
  warden/x/warden/keeper/key_requests.go
  warden/x/warden/keeper/keychain.go
  warden/x/warden/keeper/keys.go
  warden/x/warden/keeper/msg_server_fulfil_key_request.go
  warden/x/warden/keeper/msg_server_fulfil_sign_request.go
  warden/x/warden/keeper/msg_server_new_key_request.go
  warden/x/warden/keeper/msg_server_new_sign_request.go
  warden/x/warden/keeper/sign_requests.go
  warden/x/warden/module/module.go
  warden/x/warden/types/v1beta3/key.pb.go
  warden/x/warden/types/v1beta3/keychain.go
  warden/x/warden/types/v1beta3/signature.pb.go
Labels: protocol, protobuf, x-warden

#748 feat(spaceward): update for rebrand
  spaceward/public/glitch.svg
  spaceward/public/images/asset-decor-light.png
  spaceward/public/images/bnr-governance.png
  spaceward/public/images/dashboard-governance.png
  spaceward/public/images/nokeys.png
  spaceward/public/images/staking-bg.png
  spaceward/public/no-space-bg.svg
  spaceward/public/rail.png
  spaceward/src/assets/main.css
  spaceward/src/components/ui/icons-assets.tsx
  spaceward/src/components/ui/icons.tsx
  spaceward/src/features/actions/animate.css
  spaceward/src/features/dashboard/Actions.tsx
  spaceward/src/features/dashboard/Chart.tsx
  spaceward/src/features/dashboard/Dapps.tsx
  spaceward/src/features/dashboard/DashboardGraph.tsx
  spaceward/src/features/dashboard/Governance.tsx
  spaceward/src/features/dashboard/Keys.tsx
  spaceward/src/features/dashboard/StakingCard.tsx
  spaceward/src/features/governance/DetailsModal.tsx
  spaceward/src/features/governance/Item.tsx
  spaceward/src/features/intents/AddAddressModal.tsx
  spaceward/src/features/intents/AddressList.tsx
  spaceward/src/features/intents/ChangeAddressesModal.tsx
  spaceward/src/features/intents/CreateIntentModal.tsx
  spaceward/src/features/intents/Intent.tsx
  spaceward/src/features/intents/PersonSelect.tsx
  spaceward/src/features/keychains/icons.tsx
  spaceward/src/features/metamask/InstallMetaMaskSnapButton.tsx
  spaceward/src/features/metamask/MetaMaskRequests.tsx
  spaceward/src/features/owners/OwnerCard.tsx
  spaceward/src/features/spaces/NoSpaces.tsx
  spaceward/src/features/staking/DetailsModal.tsx
  spaceward/src/features/staking/ValidatorRow.tsx
  spaceward/src/features/wallet/Connect.tsx
  spaceward/src/layouts/icons.tsx
  spaceward/src/layouts/sidebar.tsx
  spaceward/src/pages/Actions.tsx
  spaceward/src/pages/Apps.tsx
  spaceward/src/pages/AppsOpen.tsx
  spaceward/src/pages/Assets.tsx
  spaceward/src/pages/Explorer.tsx
  spaceward/src/pages/Intents.tsx
  spaceward/src/pages/Keychains.tsx
  spaceward/src/pages/NewTransaction.tsx
  spaceward/src/pages/Owners.tsx
  spaceward/src/pages/Root.tsx
  spaceward/src/pages/Settings.tsx
  spaceward/tailwind.config.ts
Labels: spaceward

#750 fix(spaceward): fix for space mono font issue
  spaceward/tailwind.config.ts
Labels: spaceward

#751 fix(spaceward): updated welcome message
  spaceward/src/pages/Root.tsx
Labels: spaceward
