Repository warden-protocol/wardenprotocol, pull requests merged in 2024-12, with the labels that each got.

#1118 feat(spaceward): add address whitelist to enable mainnet assets
  spaceward/src/config/tokens.ts
  spaceward/src/config/whitelists.ts
  spaceward/src/features/actions/StatusSidebar.tsx
  spaceward/src/features/actions/util.ts
  spaceward/src/features/assets/hooks.ts
  spaceward/src/features/assets/queries.ts
  spaceward/src/features/modals/ApproveActionModal.tsx
  spaceward/src/features/modals/SendAssets.tsx
  spaceward/src/features/modals/util.ts
  spaceward/src/features/walletconnect/util.ts
Labels: spaceward

#1127 Fix/query sign requests broadcast type
  CHANGELOG.md
  api/warden/warden/v1beta3/query.pulsar.go
  precompiles/warden/IWarden.go
  precompiles/warden/IWarden.sol
  precompiles/warden/abi.json
  precompiles/warden/query_types.go
  proto/warden/warden/v1beta3/query.proto
  tests/cases/warden_precompile_action.go
  warden/x/warden/keeper/query_sign_requests.go
  warden/x/warden/types/v1beta3/query.pb.go
Labels: protocol, protobuf, x-warden

#1125 Fix typo in Dependencies section Update clichain.md
  docs/developer-docs/docs/build-a-keychain/implementations/clichain.md
Labels: docs

#1158 Revert "feat(prophet): inital version"
  CHANGELOG.md
  api/warden/async/v1beta1/ve.pulsar.go
  api/warden/vemanager/vemanager.pulsar.go
  go.mod
  prophet/dedup.go
  prophet/doc.go
  prophet/exec.go
  prophet/future.go
  prophet/handlers.go
  prophet/handlers/echo/echo.go
  prophet/prophet.go
  prophet/registry.go
  proto/warden/async/v1beta1/ve.proto
  proto/warden/vemanager/vemanager.proto
  warden/app/app.go
  warden/app/oracle.go
  warden/app/vemanager/vemanager.go
  warden/app/vemanager/vemanager.pb.go
  warden/testutil/keeper/async.go
  warden/x/async/keeper/abci.go
  warden/x/async/keeper/abci_test.go
  warden/x/async/keeper/futures.go
  warden/x/async/keeper/keeper.go
  warden/x/async/module/module.go
  warden/x/async/types/v1beta1/future.go
  warden/x/async/types/v1beta1/ve.pb.go
Labels: protocol, protobuf, test
