Repository warden-protocol/wardenprotocol, pull requests merged in 2024-10, with the labels that each got.

#906 chore(docs): updated SpaceWard screenshots in the help center
  docs/help-center/docs/spaceward/participate-in-governance.md
  docs/help-center/static/img/connected-wallet-address.png
  docs/help-center/static/img/edit-rule-1.png
  docs/help-center/static/img/edit-rule-2.png
  docs/help-center/static/img/edit-rule-advanced.png
  docs/help-center/static/img/enable-rule.png
  docs/help-center/static/img/get-key-address.png
  docs/help-center/static/img/get-test-ward.png
  docs/help-center/static/img/manage-spaces.png
  docs/help-center/static/img/manage-stake.png
  docs/help-center/static/img/metamask-snap.png
  docs/help-center/static/img/spaceward-overview.png
  docs/help-center/static/img/stake-details-1.png
  docs/help-center/static/img/view-key-details.png
  docs/help-center/static/img/walletconnect.png
Labels: docs

#921 update ethermint proto & wardenjs
  spaceward/pnpm-lock.yaml
  spaceward/src/hooks/useClient.ts
  wardenjs/package.json
  wardenjs/pnpm-lock.yaml
  wardenjs/proto/ethermint/crypto/v1/ethsecp256k1/keys.proto
  wardenjs/proto/ethermint/evm/v1/events.proto
  wardenjs/proto/ethermint/evm/v1/evm.proto
  wardenjs/proto/ethermint/evm/v1/genesis.proto
  wardenjs/proto/ethermint/evm/v1/query.proto
  wardenjs/proto/ethermint/evm/v1/tx.proto
  wardenjs/proto/ethermint/feemarket/v1/events.proto
  wardenjs/proto/ethermint/feemarket/v1/feemarket.proto
  wardenjs/proto/ethermint/feemarket/v1/genesis.proto
  wardenjs/proto/ethermint/feemarket/v1/query.proto
  wardenjs/proto/ethermint/feemarket/v1/tx.proto
  wardenjs/proto/ethermint/types/v1/account.proto
  wardenjs/proto/ethermint/types/v1/dynamic_fee.proto
  wardenjs/proto/ethermint/types/v1/indexer.proto
  wardenjs/proto/ethermint/types/v1/web3.proto
  wardenjs/src/codegen/binary.ts
  wardenjs/src/codegen/cosmos/bundle.ts
  wardenjs/src/codegen/ethermint/bundle.ts
  wardenjs/src/codegen/ethermint/client.ts
  wardenjs/src/codegen/ethermint/evm/v1/evm.ts
  wardenjs/src/codegen/ethermint/evm/v1/genesis.ts
  wardenjs/src/codegen/ethermint/evm/v1/query.lcd.ts
  wardenjs/src/codegen/ethermint/evm/v1/query.rpc.Query.ts
  wardenjs/src/codegen/ethermint/evm/v1/query.ts
  wardenjs/src/codegen/ethermint/evm/v1/tx.amino.ts
  wardenjs/src/codegen/ethermint/evm/v1/tx.ts
  wardenjs/src/codegen/ethermint/feemarket/v1/feemarket.ts
  wardenjs/src/codegen/ethermint/feemarket/v1/genesis.ts
  wardenjs/src/codegen/ethermint/feemarket/v1/query.ts
  wardenjs/src/codegen/ethermint/feemarket/v1/tx.amino.ts
  wardenjs/src/codegen/ethermint/feemarket/v1/tx.ts
  wardenjs/src/codegen/ethermint/types/v1/account.ts
  wardenjs/src/codegen/ethermint/types/v1/dynamic_fee.ts
  wardenjs/src/codegen/extern.ts
  wardenjs/src/codegen/gogoproto/bundle.ts
  wardenjs/src/codegen/google/bundle.ts
  wardenjs/src/codegen/helpers.ts
  wardenjs/src/codegen/index.ts
  wardenjs/src/codegen/json-safe.ts
  wardenjs/src/codegen/react-query.ts
  wardenjs/src/codegen/shield/bundle.ts
  wardenjs/src/codegen/slinky/bundle.ts
  wardenjs/src/codegen/slinky/client.ts
  wardenjs/src/codegen/tendermint/bundle.ts
  wardenjs/src/codegen/utf8.ts
  wardenjs/src/codegen/varint.ts
  wardenjs/src/codegen/warden/bundle.ts
  wardenjs/src/codegen/warden/client.ts
Labels: spaceward, wardenjs

#940 Fix/new key event
  CHANGELOG.md
  warden/x/warden/keeper/genesis.go
  warden/x/warden/keeper/key_requests.go
  warden/x/warden/keeper/keys.go
  warden/x/warden/keeper/msg_server_update_key.go
  warden/x/warden/keeper/query_all_keys_test.go
  warden/x/warden/keeper/query_keys_by_space_id_test.go
Labels: protocol, test, x-warden

#950 fix(spaceward): fix for maintenance mode issue in chiado
  spaceward/src/pages/Root.tsx
Labels: spaceward

#956 fix(spaceward): update to maintenance mode check
  spaceward/src/pages/Root.tsx
Labels: spaceward

#961 fix(spaceward): another maintenance issue fix
  spaceward/src/pages/Root.tsx
Labels: spaceward
