Repository warden-protocol/wardenprotocol, pull requests merged in 2024-04, with the labels that each got.

#136 fix(spaceward): reduce ActionsByAddress limit from 100 to 10
  spaceward/src/components/actions-badge.tsx
  spaceward/src/components/actions.tsx
  spaceward/src/routes/home.tsx
  spaceward/src/routes/menu.tsx
Labels: spaceward

#138 perf(x/warden): add benchmarks for most used queries
  CHANGELOG.md
  warden/x/intent/keeper/query_actions_by_address_test.go
  warden/x/warden/keeper/query_all_keys_test.go
  warden/x/warden/keeper/query_keys_by_space_id_test.go
Labels: protocol, sdk-module, intent, test

#139 feat(x/intent)!: ability for modules to dynamically resolve variables on Action creation
  CHANGELOG.md
  api/warden/intent/action.pulsar.go
  api/warden/intent/intent.pulsar.go
  proto/warden/intent/action.proto
  proto/warden/intent/intent.proto
  shield/ast/ast.go
  shield/ast/expander.go
  shield/ast/stringify.go
  shield/env/env.go
  shield/internal/evaluator/evaluator.go
  shield/internal/lexer/lexer.go
  shield/internal/metadata/metadata.go
  shield/internal/metadata/metadata_test.go
  shield/internal/parser/parser.go
  shield/internal/parser/parser_test.go
  shield/internal/preprocess/preprocess.go
  shield/shield.go
  warden/app/app.go
  warden/repo/seqcollection.go
  warden/testutil/keeper/intent.go
  warden/x/intent/cosmoshield/context.go
  warden/x/intent/cosmoshield/cosmosshield.go
  warden/x/intent/keeper/actions.go
  warden/x/intent/keeper/actions_keeper.go
  warden/x/intent/keeper/intents.go
  warden/x/intent/keeper/keeper.go
  warden/x/intent/keeper/msg_server_new_intent.go
  warden/x/intent/keeper/query_actions_by_address_test.go
  warden/x/intent/migrations/v2/store.go
  warden/x/intent/module/module.go
  warden/x/intent/types/action.pb.go
  warden/x/intent/types/intent.go
  warden/x/intent/types/intent.pb.go
  warden/x/warden/keeper/shield.go
  warden/x/warden/keeper/spaces.go
  warden/x/warden/types/v1beta2/space.go
Labels: protocol, sdk-module, intent, test

#148 feat(shield): use protobuf for AST types
  CHANGELOG.md
  api/shield/ast/ast.pulsar.go
  api/shield/token/token.pulsar.go
  proto/shield/ast/ast.proto
  proto/shield/token/token.proto
  proto/warden/warden/v1beta1/genesis.proto
  proto/warden/warden/v1beta1/key.proto
  proto/warden/warden/v1beta1/keychain.proto
  proto/warden/warden/v1beta1/params.proto
  proto/warden/warden/v1beta1/query.proto
  proto/warden/warden/v1beta1/signature.proto
  proto/warden/warden/v1beta1/space.proto
  proto/warden/warden/v1beta1/tx.proto
  proto/warden/warden/v1beta1/wallet.proto
  proto/warden/warden/v1beta2/tx.proto
  shield/ast/ast.go
  shield/ast/ast.pb.go
  shield/ast/expander.go
  shield/ast/stringify.go
  shield/internal/evaluator/evaluator.go
  shield/internal/lexer/lexer.go
  shield/internal/lexer/lexer_test.go
  shield/internal/metadata/metadata.go
  shield/internal/metadata/metadata_test.go
  shield/internal/parser/parser.go
  shield/internal/parser/parser_test.go
  shield/internal/preprocess/preprocess.go
  shield/internal/token/token.go
  shield/shield.go
  shield/token/idents.go
  shield/token/token.pb.go
  warden/x/intent/cosmoshield/cosmosshield.go
  warden/x/warden/keeper/shield.go
  warden/x/warden/migrations/v2/store.go
  warden/x/warden/types/v1beta1/genesis.pb.go
  warden/x/warden/types/v1beta1/key.pb.go
  warden/x/warden/types/v1beta1/keychain.pb.go
  warden/x/warden/types/v1beta1/params.pb.go
  warden/x/warden/types/v1beta1/query.pb.go
  warden/x/warden/types/v1beta1/query.pb.gw.go
  warden/x/warden/types/v1beta1/signature.pb.go
  warden/x/warden/types/v1beta1/space.pb.go
  warden/x/warden/types/v1beta1/tx.pb.go
  warden/x/warden/types/v1beta1/wallet.pb.go
Labels: protocol, sdk-module, intent, test

#159 fix(x/warden): resolve `space.owners` for SignIntents
  CHANGELOG.md
  warden/x/warden/keeper/keys.go
  warden/x/warden/keeper/shield.go
Labels: protocol, sdk-module

#160 feat(x/warden): add Osmosis support
  CHANGELOG.md
  api/warden/warden/v1beta2/wallet.pulsar.go
  proto/warden/warden/v1beta2/wallet.proto
  warden/x/warden/types/v1beta2/address.go
  warden/x/warden/types/v1beta2/wallet.go
  warden/x/warden/types/v1beta2/wallet.pb.go
  warden/x/warden/types/v1beta2/wallet_osmosis.go
  warden/x/warden/types/v1beta2/wallet_osmosis_test.go
Labels: protocol, sdk-module, test

#156 feat(x/wasm): integrate CosmWasm
  CHANGELOG.md
  Dockerfile
  cmd/wardend/cmd/commands.go
  cmd/wardend/cmd/root.go
  go-client/tx_raw_client.go
  go.mod
  go.sum
  warden/app/ante.go
  warden/app/app.go
  warden/app/app_config.go
  warden/app/legacy.go
  warden/app/wasm.go
Labels: protocol, go-client

#166 feat(spaceward): Intents enhancements
  .gitignore
  spaceward/src/components/add-person-modal.tsx
  spaceward/src/components/change-person-modal.tsx
  spaceward/src/components/create-intent-modal.tsx
  spaceward/src/components/create-intent.tsx
  spaceward/src/components/intent.tsx
  spaceward/src/hooks/keplr.tsx
  spaceward/src/routes/intents.tsx
Labels: spaceward

#171 feat(cosmwasm): add support for calling warden module from contracts
  CHANGELOG.md
  contracts/.gitignore
  contracts/.prettierrc.json
  contracts/Cargo.lock
  contracts/Cargo.toml
  contracts/README.md
  contracts/contracts/sample/.cargo/config
  contracts/contracts/sample/Cargo.toml
  contracts/contracts/sample/README.md
  contracts/contracts/sample/src/bin/schema.rs
  contracts/contracts/sample/src/contract.rs
  contracts/contracts/sample/src/error.rs
  contracts/contracts/sample/src/lib.rs
  contracts/contracts/sample/src/msg.rs
  contracts/packages/bindings/.cargo/config
  contracts/packages/bindings/Cargo.toml
  contracts/packages/bindings/README.md
  contracts/packages/bindings/src/bin/schema.rs
  contracts/packages/bindings/src/lib.rs
  contracts/packages/bindings/src/msg.rs
  contracts/scripts/optimizer.sh
  warden/app/custom-msg/custom_msg.go
  warden/app/legacy.go
Labels: protocol

#178 build: fix `wardjs` files and `spaceward` build
  .github/workflows/spaceward.yml
  spaceward/package.json
  spaceward/pnpm-lock.yaml
  wardjs/.gitignore
  wardjs/src/codegen/warden/intent/module/module.ts
  wardjs/src/codegen/warden/warden/module/module.ts
Labels: spaceward

#179 fix(spaceward): fix for filename case issue
  spaceward/src/features/assets/Assets.tsx
  spaceward/src/features/home/TotalAssetValue.tsx
  spaceward/src/pages/Keychains.tsx
  spaceward/src/pages/Keys.tsx
  spaceward/src/pages/Owners.tsx
  spaceward/src/pages/Root.tsx
  spaceward/src/pages/Settings.tsx
Labels: spaceward

#180 chore: upgrade pnpm to v9.0.0
  .github/workflows/spaceward.yml
  CHANGELOG.md
  Dockerfile
  spaceward/pnpm-lock.yaml
  ts-client/pnpm-lock.yaml
  wardjs/pnpm-lock.yaml
Labels: spaceward

#181 fix(spaceward): restore Osmosis support for WalletConnect
  spaceward/src/features/home/HomeAssets.tsx
  spaceward/src/features/walletconnect/WalletConnect.tsx
Labels: spaceward

#186 feat(spaceward): add some ui updates and buenavista chain
  docs/static/openapi.yml
  spaceward/package.json
  spaceward/pnpm-lock.yaml
  spaceward/public/logos/osmosis.svg
  spaceward/public/no-space-bg.svg
  spaceward/src/App.tsx
  spaceward/src/assets/main.css
  spaceward/src/components/AddressUnit.tsx
  spaceward/src/components/ConnectWallet.tsx
  spaceward/src/components/ThemeToggle.tsx
  spaceward/src/components/ui/copy.tsx
  spaceward/src/config/chains.ts
  spaceward/src/features/actions/Action.tsx
  spaceward/src/features/apps/Apps.tsx
  spaceward/src/features/assets/Assets.tsx
  spaceward/src/features/assets/ReceiveAssetButton.tsx
  spaceward/src/features/home/HomeApps.tsx
  spaceward/src/features/home/HomeAssets.tsx
  spaceward/src/features/home/TotalAssetValue.tsx
  spaceward/src/features/intents/AddPersonModal.tsx
  spaceward/src/features/intents/ChangePersonModal.tsx
  spaceward/src/features/intents/CreateIntentModal.tsx
  spaceward/src/features/intents/Intent.tsx
  spaceward/src/features/intents/IntentCondition.tsx
  spaceward/src/features/intents/IntentNotifications.tsx
  spaceward/src/features/intents/NewIntentButton.tsx
  spaceward/src/features/intents/PersonSelect.tsx
  spaceward/src/features/keys/Keys.tsx
  spaceward/src/features/metamask/MetaMaskRequests.tsx
  spaceward/src/features/notifications/Notifications.tsx
  spaceward/src/features/spaces/NoActiveSpace.tsx
  spaceward/src/features/spaces/NoSpaces.tsx
  spaceward/src/features/spaces/SpaceSelector.tsx
  spaceward/src/features/spaces/index.ts
  spaceward/src/features/wallet/Connect.tsx
  spaceward/src/features/walletconnect/WalletConnect.tsx
  spaceward/src/hooks/useSpaceId.tsx
  spaceward/src/layouts/right-sidebar.tsx
  spaceward/src/layouts/sidebar.tsx
  spaceward/src/layouts/site-header.tsx
  spaceward/src/pages/Actions.tsx
  spaceward/src/pages/Apps.tsx
  spaceward/src/pages/AppsOpen.tsx
  spaceward/src/pages/Assets.tsx
  spaceward/src/pages/Explorer.tsx
  spaceward/src/pages/Home.tsx
  spaceward/src/pages/Intents.tsx
  spaceward/src/pages/Keychains.tsx
  spaceward/src/pages/Keys.tsx
  spaceward/src/pages/Owners.tsx
  spaceward/src/pages/Root.tsx
  spaceward/src/pages/Settings.tsx
  spaceward/tailwind.config.ts
Labels: docs, spaceward

#187 fix(x/intent): QueryActionsByAddress returning one Action multiple times
  CHANGELOG.md
  api/warden/intent/query.pulsar.go
  proto/warden/intent/query.proto
  warden/x/intent/keeper/query_actions_by_address.go
  warden/x/intent/types/query.pb.go
Labels: protocol, intent

#188 fix(spaceward): fix for actions layout and chain id issue
  docs/static/openapi.yml
  spaceward/src/assets/main.css
  spaceward/src/components/ConnectWallet.tsx
  spaceward/src/components/FaucetButton.tsx
  spaceward/src/components/TxMsgDetails.tsx
  spaceward/src/components/ui/button.tsx
  spaceward/src/components/ui/card.tsx
  spaceward/src/components/ui/copy.tsx
  spaceward/src/config/chains.ts
  spaceward/src/features/actions/Action.tsx
  spaceward/src/features/actions/Actions.tsx
  spaceward/src/features/spaces/NoSpaces.tsx
  spaceward/src/pages/Keys.tsx
  spaceward/src/pages/Root.tsx
Labels: docs, spaceward

#189 fix(spaceward): Shortened chain pretty_name to below 30 characters
  spaceward/src/config/chains.ts
Labels: spaceward

#192 fix(spaceward): wrong react-query linked dependency
  spaceward/package.json
  spaceward/pnpm-lock.yaml
  spaceward/src/components/AddressAvatar.tsx
  spaceward/src/components/SendEth.tsx
  spaceward/src/components/ui/copy.tsx
  spaceward/src/features/actions/Actions.tsx
  spaceward/src/features/assets/Assets.tsx
  spaceward/src/features/home/HomeAssets.tsx
  spaceward/src/features/home/TotalAssetValue.tsx
  spaceward/src/features/intents/NewIntentButton.tsx
  spaceward/src/features/keys/Keys.tsx
  spaceward/src/features/keys/NewKeyButton.tsx
  spaceward/src/features/spaces/SpaceSelector.tsx
  spaceward/src/hooks/useClient.ts
  spaceward/src/layouts/mobile-nav.tsx
  wardjs/package.json
  wardjs/pnpm-lock.yaml
Labels: spaceward

#193 Update intro.md
  docs/docs/intro.md
Labels: docs

#194 Update eli5.md
  docs/docs/learn/eli5.md
Labels: docs

#195 Update learn.md
  docs/docs/learn/learn.md
Labels: docs

#185 feat(x/wasm): add AllKeys query binding
  CHANGELOG.md
  contracts/README.md
  contracts/contracts/sample/README.md
  contracts/contracts/sample/src/bin/schema.rs
  contracts/contracts/sample/src/contract.rs
  contracts/contracts/sample/src/msg.rs
  contracts/packages/bindings/README.md
  contracts/packages/bindings/src/bin/schema.rs
  contracts/packages/bindings/src/key.rs
  contracts/packages/bindings/src/lib.rs
  contracts/packages/bindings/src/msg.rs
  contracts/packages/bindings/src/querier.rs
  contracts/packages/bindings/src/query.rs
  warden/app/custom-msg/custom_msg.go
  warden/app/legacy.go
  warden/app/wasm-interop/custom_msg.go
  warden/app/wasm-interop/custom_query.go
Labels: protocol

#201 fix(snap): redirect url when approving requests
  snap/src/keyring.ts
  spaceward/src/features/metamask/AddToMetaMaskButton.tsx
Labels: spaceward

#202 Docs Updates in preparation for Buenavista
  docs/docs/learn/spaceward/Setting-Intents.md
  docs/docs/learn/spaceward/connect-your-cosmos-wallet.md
  docs/docs/learn/spaceward/spaceward-intro.md
  docs/docs/learn/spaceward/tutorial-spaceward.md
Labels: docs

#203 fix(spaceward): tons of duplicate Plausible events on page change
  spaceward/src/pages/Root.tsx
Labels: spaceward

#208 feat(docs): added whitepaper pdf
  docs/static/The_Warden_Protocol_Whitepaper.pdf
Labels: docs

#209 Whitepaper Markdown and SpaceWard intro update
  docs/docs/learn/spaceward/spaceward-intro.md
  docs/docs/whitepaper.md
Labels: docs

#210 Update on key request docs
  docs/docs/learn/spaceward/request-new-key.md
  docs/docs/learn/spaceward/spaceward-intro.md
Labels: docs

#211 docs: add instructions for joining buenavista
  docs/docs/developers/keychain-sdk/quickstart.md
  docs/docs/validate/creating-validator.md
  docs/docs/validate/joining-buenavista.md
Labels: docs

#215 ci(docs): add spellcheck
  .github/workflows/docs.yml
  docs/.spelling
  docs/docs/developers/architecture/adr-001-keychain-slashing-locking.md
  docs/docs/developers/architecture/adr-template.md
  docs/docs/developers/contributing.md
  docs/docs/developers/migration/wardend-v0.2.0-upgrade.md
  docs/docs/developers/runbooks/README.md
  docs/docs/developers/runbooks/run-local-chain.md
  docs/docs/learn/Modularity.md
  docs/docs/learn/OApps/OApps Overview.md
  docs/docs/learn/eli5.md
  docs/docs/learn/faq.md
  docs/docs/learn/how-does-warden-protocol-work.md
  docs/docs/learn/keychains/Keychain Onboarding.md
  docs/docs/learn/keychains/README.md
  docs/docs/learn/spaceward/spaceward-intro.md
  docs/docs/learn/spaceward/tutorial-spaceward.md
  docs/docs/validate/joining-buenavista.md
  docs/docs/validate/validator-concepts.md
  docs/docs/ward/distribution.md
  docs/docs/ward/incentives.md
  docs/docs/ward/ward.md
  docs/docs/whitepaper.md
  docs/package-lock.json
  docs/package.json
Labels: docs

#227 docs: fix typos and rerun spellcheck
  docs/.spelling
  docs/docs/warp.md
Labels: docs

#228 docs: add WARP contract address
  docs/.spelling
  docs/docs/warp.md
Labels: docs

#237 Create bridge-base.md
  docs/docs/learn/bridge-base.md
Labels: docs

#223 feat(spaceward): show toast indicators when using faucet
  spaceward/src/components/FaucetButton.tsx
Labels: spaceward

#244 fix(spaceward): corrected wardjs to wardenjs
  spaceward/src/features/spaces/SpaceSelector.tsx
Labels: spaceward

#236 fix(warden): add select/deselect all button
  spaceward/src/features/intents/ChangePersonModal.tsx
Labels: spaceward

#232 chore(spaceward): removed storybook
  spaceward/.storybook/main.ts
  spaceward/.storybook/preview.ts
  spaceward/package.json
  spaceward/pnpm-lock.yaml
  spaceward/src/stories/Button.stories.ts
  spaceward/src/stories/Button.tsx
  spaceward/src/stories/Header.stories.ts
  spaceward/src/stories/Header.tsx
  spaceward/src/stories/Page.stories.ts
  spaceward/src/stories/Page.tsx
  spaceward/src/stories/assets/accessibility.png
  spaceward/src/stories/assets/accessibility.svg
  spaceward/src/stories/assets/addon-library.png
  spaceward/src/stories/assets/assets.png
  spaceward/src/stories/assets/avif-test-image.avif
  spaceward/src/stories/assets/context.png
  spaceward/src/stories/assets/discord.svg
  spaceward/src/stories/assets/docs.png
  spaceward/src/stories/assets/figma-plugin.png
  spaceward/src/stories/assets/github.svg
  spaceward/src/stories/assets/share.png
  spaceward/src/stories/assets/styling.png
  spaceward/src/stories/assets/testing.png
  spaceward/src/stories/assets/theming.png
  spaceward/src/stories/assets/tutorials.svg
  spaceward/src/stories/assets/youtube.svg
  spaceward/src/stories/button.css
  spaceward/src/stories/header.css
  spaceward/src/stories/page.css
Labels: spaceward
