Repository warden-protocol/wardenprotocol, pull requests merged in 2024-05, with the labels that each got.

#251 docs: Update warp.md
  docs/docs/warp/warp.md
Labels: docs

#252 Update warp.md
  docs/docs/warp/warp.md
Labels: docs

#254 Docs: added DexTools Links
  docs/docs/warp/warp.md
Labels: docs

#257 Update bridge-base.md
  docs/docs/warp/bridge-base.md
Labels: docs

#271 Update airdrop-stages.md
  docs/docs/ward/airdrop-stages.md
Labels: docs

#272 Update distribution.md
  docs/docs/ward/distribution.md
Labels: docs

#253 feat(spaceward): advanced intents
  spaceward/src/components/ui/icons.tsx
  spaceward/src/features/intents/AddAddressModal.tsx
  spaceward/src/features/intents/AdvancedMode.tsx
  spaceward/src/features/intents/ChangeAddressesModal.tsx
  spaceward/src/features/intents/CreateIntentModal.tsx
  spaceward/src/features/intents/Intent.tsx
  spaceward/src/features/intents/IntentCondition.tsx
  spaceward/src/features/intents/util.ts
  spaceward/src/hooks/useClickOutside.ts
  spaceward/src/pages/Intents.tsx
  spaceward/src/types/intent.ts
  spaceward/src/types/util.ts
  spaceward/src/utils/shield.ts
Labels: spaceward

#270 feat(docs): add delegation program documentation
  docs/.spelling
  docs/docs/validate/delegation-program.md
Labels: docs

#275 fix(docker): add automatic accept to package installation
  Dockerfile
Labels: bug

#286 Update warp.md
  docs/docs/warp/warp.md
Labels: docs

#310 fix(docs): update correct persistent peers in docs
  docs/docs/validate/joining-buenavista.md
Labels: docs

#314 Added Coingecko link to WARP
  docs/.spelling
  docs/docs/warp/warp.md
Labels: docs

#292 feat(shield): add comparison operators (`< <= > >= == !=`)
  CHANGELOG.md
  api/shield/token/token.pulsar.go
  proto/shield/token/token.proto
  shield/internal/evaluator/evaluator.go
  shield/internal/evaluator/evaluator_test.go
  shield/internal/lexer/lexer.go
  shield/internal/lexer/lexer_test.go
  shield/internal/parser/parser.go
  shield/internal/parser/parser_test.go
  shield/token/token.pb.go
Labels: protobuf, test, shield

#290 feat(spaceward): Intent whitelist
  spaceward/src/components/AddressAvatar.tsx
  spaceward/src/components/AddressUnit.tsx
  spaceward/src/components/SendEth.tsx
  spaceward/src/components/ui/icons.tsx
  spaceward/src/features/assets/Assets.tsx
  spaceward/src/features/home/HomeAssets.tsx
  spaceward/src/features/home/TotalAssetValue.tsx
  spaceward/src/features/intents/AddAddressModal.tsx
  spaceward/src/features/intents/AddressList.tsx
  spaceward/src/features/intents/AdvancedMode.tsx
  spaceward/src/features/intents/ChangeAddressesModal.tsx
  spaceward/src/features/intents/CreateIntent.tsx
  spaceward/src/features/intents/Intent.tsx
  spaceward/src/features/intents/IntentCondition.tsx
  spaceward/src/features/intents/PersonSelect.tsx
  spaceward/src/features/intents/index.ts
  spaceward/src/features/intents/types.ts
  spaceward/src/features/intents/util/query.ts
  spaceward/src/features/walletconnect/WalletConnect.tsx
  spaceward/src/lib/eth.ts
  spaceward/src/types/intent.ts
  spaceward/src/utils/validate.ts
Labels: spaceward

#322 Refactored advanced intents autocomplete; QOL bugfixes
  spaceward/src/App.test.tsx
  spaceward/src/components/AddressUnit.tsx
  spaceward/src/features/intents/AddAddressModal.tsx
  spaceward/src/features/intents/AddressList.tsx
  spaceward/src/features/intents/AdvancedMode.tsx
  spaceward/src/features/intents/ChangeAddressesModal.tsx
  spaceward/src/features/intents/Intent.tsx
  spaceward/src/features/intents/IntentCondition.tsx
  spaceward/src/features/intents/util/code.test.ts
  spaceward/src/features/intents/util/code.ts
  spaceward/src/features/intents/util/constants.ts
  spaceward/src/features/intents/util/levenstein.ts
  spaceward/src/features/intents/util/types.ts
  warden/x/warden/types/v1beta2/signature.pb.go
Labels: protocol, spaceward, x-warden

#325 fix(shield): add unit tests for ASP preprocess
  CHANGELOG.md
  shield/internal/preprocess/preprocess_test.go
Labels: test, shield

#330 feat(shield): add arithmetic operations
  CHANGELOG.md
  api/shield/token/token.pulsar.go
  proto/shield/token/token.proto
  shield/internal/evaluator/evaluator.go
  shield/internal/evaluator/evaluator_test.go
  shield/internal/lexer/lexer.go
  shield/internal/lexer/lexer_test.go
  shield/internal/parser/parser.go
  shield/internal/parser/parser_test.go
  shield/token/token.pb.go
  warden/x/warden/types/v1beta2/signature.pb.go
Labels: protocol, protobuf, test, x-warden, shield

#318 feat(shield): improve error message handling for unknown prefix case
  CHANGELOG.md
  shield/internal/parser/parser.go
Labels: shield
