Repository warden-protocol/wardenprotocol, pull requests merged in 2024-06, with the labels that each got.

#347 feat(shield): represent ints as big.Int instead of int64
  CHANGELOG.md
  api/shield/ast/ast.pulsar.go
  go.sum
  proto/shield/ast/ast.proto
  shield/ast/ast.pb.go
  shield/ast/stringify.go
  shield/internal/evaluator/builtins.go
  shield/internal/evaluator/evaluator.go
  shield/internal/evaluator/evaluator_test.go
  shield/internal/parser/parser.go
  shield/internal/parser/parser_test.go
  shield/internal/preprocess/preprocess_test.go
  shield/object/object.go
  warden/x/warden/keeper/wasm.go
Labels: protocol, protobuf, test, x-warden, shield

#361 feat(x/intent): Intents simulator
  CHANGELOG.md
  api/warden/intent/query.pulsar.go
  api/warden/intent/query_grpc.pb.go
  proto/warden/intent/query.proto
  warden/x/intent/keeper/query_simulate_intent.go
  warden/x/intent/keeper/query_simulate_intent_test.go
  warden/x/intent/types/query.pb.go
  warden/x/intent/types/query.pb.gw.go
Labels: protocol, protobuf, test, x-intent

#378 fix(shield): fix nil env dereference panic
  CHANGELOG.md
  shield/internal/evaluator/evaluator.go
  shield/internal/evaluator/evaluator_test.go
Labels: bug, test, shield

#359 fix(x/intent): check correct authority address when creating Actions
  warden/app/app_config.go
  warden/testutil/keeper/intent.go
  warden/x/intent/keeper/actions.go
  warden/x/intent/keeper/keeper.go
  warden/x/intent/module/module.go
Labels: protocol, x-intent

#352 fix(x/warden): ensure only Keychains can send FulfilSignatureRequest
  CHANGELOG.md
  warden/x/warden/keeper/msg_server_fulfil_signature_request.go
Labels: protocol, x-warden

#379 Save whitelist
  spaceward/src/features/intents/AdvancedMode.tsx
  spaceward/src/features/intents/Intent.tsx
  spaceward/src/features/intents/IntentCondition.tsx
  spaceward/src/pages/Intents.tsx
  spaceward/src/types/intent.ts
  spaceward/src/types/shield.ts
  spaceward/src/utils/shield.ts
Labels: spaceward

#382 fix(x/intent): Action results being wrapped in Any twice
  CHANGELOG.md
  warden/x/intent/types/action.go
Labels: protocol, x-intent

#397 fix(spaceward): Fix Assets page
  spaceward/src/components/ui/icons-assets.tsx
  spaceward/src/pages/Assets.tsx
  spaceward/tailwind.config.ts
Labels: spaceward

#407 feat(sapceward): Add new governance page
  spaceward/src/components/ui/icons-assets.tsx
  spaceward/src/features/governance/CantVoteModal.tsx
  spaceward/src/features/governance/Chart.tsx
  spaceward/src/features/governance/DetailsModal.tsx
  spaceward/src/features/governance/Item.tsx
  spaceward/src/features/governance/ItemCard.tsx
  spaceward/src/features/governance/ItemRow.tsx
  spaceward/src/features/governance/VoteModal.tsx
  spaceward/src/features/governance/VotesListModal.tsx
  spaceward/src/features/governance/hooks.ts
  spaceward/src/features/governance/types.ts
  spaceward/src/features/governance/util.ts
  spaceward/src/features/staking/StakeModal.tsx
  spaceward/src/features/staking/StakingHeading.tsx
  spaceward/src/features/staking/util.ts
  spaceward/src/layouts/sidebar.tsx
  spaceward/src/lib/math.ts
  spaceward/src/pages/Governance.tsx
  spaceward/src/utils/validate.ts
Labels: spaceward

#412 fix(spaceward): Some stake fixes
  spaceward/src/assets/main.css
  spaceward/src/features/assets/AssetTransactionModal.tsx.tsx
  spaceward/src/features/assets/DepositFinalModal.tsx
  spaceward/src/features/assets/SelectKeyModal.tsx
  spaceward/src/features/assets/SignTransactionModal.tsx
  spaceward/src/features/intents/AddAddressModal.tsx
  spaceward/src/features/intents/ChangeAddressesModal.tsx
  spaceward/src/features/intents/Intent.tsx
  spaceward/src/features/staking/DetailsModal.tsx
  spaceward/src/features/staking/RedelegateModal.tsx
  spaceward/src/features/staking/StakeModal.tsx
  spaceward/src/pages/Staking.tsx
Labels: spaceward

#402 feat(ethereum-analyzer): extract "to" and "value" fields from transactions
  contracts/Cargo.lock
  contracts/contracts/ethereum-analyzer/Cargo.toml
  contracts/contracts/ethereum-analyzer/src/contract.rs
  contracts/contracts/ethereum-analyzer/src/msg.rs
Labels: contracts

#432 fix(x/intent): add Action creator address to context during Intent hook
  CHANGELOG.md
  warden/x/intent/keeper/actions.go
  warden/x/intent/keeper/msg_server_new_action.go
Labels: protocol, x-intent

#424 fix(x/warden): handle analyzers strings values
  CHANGELOG.md
  warden/x/warden/keeper/wasm.go
Labels: protocol, x-warden

#410 feat(x/intent): emit some events
  CHANGELOG.md
  api/warden/intent/events.pulsar.go
  proto/warden/intent/events.proto
  warden/x/intent/keeper/actions.go
  warden/x/intent/keeper/msg_server_approve_action.go
  warden/x/intent/keeper/msg_server_new_action.go
  warden/x/intent/keeper/msg_server_new_intent.go
  warden/x/intent/keeper/msg_server_revoke_action.go
  warden/x/intent/keeper/msg_server_update_intent.go
  warden/x/intent/keeper/msg_server_update_params.go
  warden/x/intent/keeper/msg_server_update_params_test.go
  warden/x/intent/types/action.go
  warden/x/intent/types/events.pb.go
Labels: protocol, protobuf, test, x-intent

#411 feat(x/warden): emit some events
  CHANGELOG.md
  api/warden/warden/v1beta2/events.pulsar.go
  proto/warden/warden/v1beta2/events.proto
  warden/x/warden/keeper/msg_server_add_keychain_writer.go
  warden/x/warden/keeper/msg_server_add_space_owner.go
  warden/x/warden/keeper/msg_server_fulfil_signature_request.go
  warden/x/warden/keeper/msg_server_new_key_request.go
  warden/x/warden/keeper/msg_server_new_keychain.go
  warden/x/warden/keeper/msg_server_new_signature_request.go
  warden/x/warden/keeper/msg_server_new_space.go
  warden/x/warden/keeper/msg_server_remove_space_owner.go
  warden/x/warden/keeper/msg_server_update_key.go
  warden/x/warden/keeper/msg_server_update_key_request.go
  warden/x/warden/keeper/msg_server_update_keychain.go
  warden/x/warden/keeper/msg_server_update_params.go
  warden/x/warden/keeper/msg_server_update_params_test.go
  warden/x/warden/keeper/msg_server_update_space.go
  warden/x/warden/keeper/query_space_by_id.go
  warden/x/warden/types/v1beta2/events.pb.go
Labels: protocol, protobuf, test, x-warden, blocked

#450 fix(wardenkms): default chain ID should be `warden`
  cmd/faucet/faucet.go
  cmd/wardenkms/wardenkms.go
Labels: wardenkms

#443 chore(x/warden): remove unused store keys
  warden/x/warden/keeper/keeper.go
Labels: protocol, x-warden

#451 Improve actions cli
  CHANGELOG.md
  warden/x/act/client/actions.go
Labels: protocol

#452 fix(go-client): cosmwasm panic when running go-client and wardend on the same machine
  go-client/tx_raw_client.go
Labels: go-client

#453 feat(keychain-sdk): link pending requests fetch interval to batch interval
  keychain-sdk/key_requests.go
  keychain-sdk/sign_requests.go
Labels: keychain

#471 deleted old docs
  docs/docs/learn/eli5.md
  docs/docs/learn/keychains/Keychain Onboarding.md
Labels: docs
