Repository warden-protocol/wardenprotocol, pull requests merged in 2024-11, with the labels that each got.

#976 feat(spaceward): use ethereum wallet for transactions
  justfile
  localnet.just
  spaceward/package.json
  spaceward/pnpm-lock.yaml
  spaceward/src/App.tsx
  spaceward/src/components/ConnectWallet.tsx
  spaceward/src/components/SendEth.tsx
  spaceward/src/components/SignRequestDialog.tsx
  spaceward/src/contracts/actPrecompileAbi.ts
  spaceward/src/contracts/constants.ts
  spaceward/src/contracts/wardenPrecompileAbi.ts
  spaceward/src/env.ts
  spaceward/src/features/actions/Action.tsx
  spaceward/src/features/actions/ApproveSidebar.tsx
  spaceward/src/features/actions/StatusSidebar.tsx
  spaceward/src/features/actions/hooks.ts
  spaceward/src/features/actions/util.ts
  spaceward/src/features/assets/AssetRow.tsx
  spaceward/src/features/assets/Assets.tsx
  spaceward/src/features/assets/queries.ts
  spaceward/src/features/home/HomeAssets.tsx
  spaceward/src/features/home/TotalAssetValue.tsx
  spaceward/src/features/intents/AddAddressModal.tsx
  spaceward/src/features/intents/Intent.tsx
  spaceward/src/features/intents/NewIntentButton.tsx
  spaceward/src/features/intents/hooks.ts
  spaceward/src/features/intents/index.ts
  spaceward/src/features/metamask/MetaMaskRequests.tsx
  spaceward/src/features/modals/AddOwner.tsx
  spaceward/src/features/modals/ApproveSnapModal.tsx
  spaceward/src/features/modals/CreateKey.tsx
  spaceward/src/features/modals/SendAssets.tsx
  spaceward/src/features/modals/util.ts
  spaceward/src/features/owners/AddSpaceOwnerForm.tsx
  spaceward/src/features/owners/index.ts
  spaceward/src/features/spaces/NoSpaces.tsx
  spaceward/src/features/spaces/SpaceSelector.tsx
  spaceward/src/features/wallet/Wallet.tsx
  spaceward/src/features/walletconnect/util.ts
  spaceward/src/hooks/addressProvider.tsx
  spaceward/src/hooks/useAction.ts
  spaceward/src/hooks/useEthereumTx.tsx
  spaceward/src/hooks/useKeychainSigner.tsx
  spaceward/src/hooks/useRequestSignature.ts
  spaceward/src/layouts/sidebar.tsx
  spaceward/src/lib/eth/constants.ts
  spaceward/src/lib/eth/util.ts
  spaceward/src/lib/math.ts
  spaceward/src/pages/Intents.tsx
  spaceward/src/pages/NewTransaction.tsx
  spaceward/src/pages/Owners.tsx
  spaceward/src/pages/Root.tsx
  spaceward/src/pages/index.ts
  spaceward/src/utils/contract.ts
Labels: spaceward

#1002 cleanup debug fn
  spaceward/src/features/spaces/SpaceSelector.tsx
Labels: spaceward

#1005 Update entrypoint.sh
  spaceward/entrypoint.sh
Labels: spaceward

#1044 [Snyk] Fix for 1 vulnerabilities
  docs/developer-docs/package-lock.json
  docs/developer-docs/package.json
Labels: docs

#1053 feat(spaceward): fix faucet address format
  spaceward/src/components/FaucetButton.tsx
Labels: spaceward

#1054 fix connect walletconnect with project with no icon
  spaceward/src/features/modals/ApproveActionModal.tsx
Labels: spaceward

#1056 feat(faucet): work with 0x addresses
  cmd/faucet/faucet.go
  cmd/faucet/faucet_test.go
Labels: test

#1061 fix(faucet): circle not updating
  cmd/faucet/main.go
  cmd/faucet/templates/tokens.html
Labels: faucet

#1062 feat(faucet): blacklist option
  cmd/faucet/faucet.go
  cmd/faucet/pkg/config/config.go
Labels: faucet

#1065 feat(faucet): configurable logging
  cmd/faucet/main.go
  cmd/faucet/pkg/config/config.go
Labels: faucet

#975 Added slinky precompile
  CHANGELOG.md
  localnet.just
  precompiles/justfile
  precompiles/precompiles.go
  precompiles/slinky/ISlinky.go
  precompiles/slinky/ISlinky.sol
  precompiles/slinky/abi.json
  precompiles/slinky/query.go
  precompiles/slinky/slinky.go
  tests/cases/slinky_precompile.go
  tests/justfile
  tests/testdata/snapshot-base/config/genesis.json
  tests/testdata/snapshot-keychain/config/genesis.json
  tests/testdata/snapshot-many-users/config/genesis.json
  warden/app/app.go
  warden/app/app_config.go
  warden/app/legacy.go
Labels: protocol

#1068 feat(spaceward): reduce calls to evm endpoint
  spaceward/package.json
  spaceward/pnpm-lock.yaml
  spaceward/src/App.tsx
  spaceward/src/features/actions/Action.tsx
  spaceward/src/features/actions/Actions.tsx
  spaceward/src/features/actions/ApproveSidebar.tsx
  spaceward/src/features/actions/StatusSidebar.tsx
  spaceward/src/features/actions/hooks.ts
  spaceward/src/features/actions/util.ts
  spaceward/src/features/intents/hooks.ts
  spaceward/src/features/modals/SendAssets.tsx
  spaceward/src/features/modals/util.ts
  spaceward/src/features/spaces/NoSpaces.tsx
  spaceward/src/features/spaces/SpaceSelector.tsx
  spaceward/src/hooks/query/warden.ts
  spaceward/src/pages/Root.tsx
  spaceward/src/utils/contract.ts
  spaceward/src/utils/web3-onboard/wagmi/index.ts
  spaceward/src/utils/web3-onboard/wagmi/types.ts
  spaceward/src/utils/web3-onboard/wagmi/utils.ts
  spaceward/src/utils/web3-onboard/wagmi/validation.ts
Labels: spaceward

#1074 feat(spaceward): decouple walletconnect storage
  spaceward/package.json
  spaceward/pnpm-lock.yaml
  spaceward/src/App.tsx
  spaceward/src/env.ts
  spaceward/src/features/actions/StatusSidebar.tsx
  spaceward/src/features/modals/ApproveActionModal.tsx
  spaceward/src/features/modals/ConnectedModal.tsx
  spaceward/src/features/modals/WalletConnect.tsx
  spaceward/src/features/walletconnect/WalletConnect.tsx
  spaceward/src/hooks/useWeb3Wallet.ts
  spaceward/src/utils/contract.tsx
  spaceward/src/utils/custom-kv-storage.ts
Labels: spaceward

#1055 feat(spaceward): fix walletconnect and snap handlers
  spaceward/src/features/actions/StatusSidebar.tsx
  spaceward/src/features/actions/hooks.ts
  spaceward/src/features/actions/util.ts
Labels: spaceward

#1042 1011 add a type field for signature request
  CHANGELOG.md
  api/warden/warden/v1beta3/events.pulsar.go
  api/warden/warden/v1beta3/query.pulsar.go
  api/warden/warden/v1beta3/signature.pulsar.go
  api/warden/warden/v1beta3/tx.pulsar.go
  precompiles/act/events.go
  precompiles/warden/IWarden.go
  precompiles/warden/IWarden.sol
  precompiles/warden/abi.json
  precompiles/warden/events.go
  precompiles/warden/query_types.go
  precompiles/warden/tx_types.go
  proto/warden/warden/v1beta3/events.proto
  proto/warden/warden/v1beta3/query.proto
  proto/warden/warden/v1beta3/signature.proto
  proto/warden/warden/v1beta3/tx.proto
  tests/cases/warden_precompile.go
  tests/cases/warden_precompile_action.go
  warden/x/warden/keeper/msg_server_new_sign_request.go
  warden/x/warden/keeper/query_sign_requests.go
  warden/x/warden/types/v1beta3/events.pb.go
  warden/x/warden/types/v1beta3/query.pb.go
  warden/x/warden/types/v1beta3/signature.pb.go
  warden/x/warden/types/v1beta3/tx.pb.go
  wardenjs/CHANGELOG.md
  wardenjs/package.json
  wardenjs/src/codegen/warden/warden/v1beta3/events.ts
  wardenjs/src/codegen/warden/warden/v1beta3/query.lcd.ts
  wardenjs/src/codegen/warden/warden/v1beta3/query.ts
  wardenjs/src/codegen/warden/warden/v1beta3/signature.ts
  wardenjs/src/codegen/warden/warden/v1beta3/tx.amino.ts
  wardenjs/src/codegen/warden/warden/v1beta3/tx.registry.ts
  wardenjs/src/codegen/warden/warden/v1beta3/tx.rpc.msg.ts
  wardenjs/src/codegen/warden/warden/v1beta3/tx.ts
Labels: protocol, protobuf, wardenjs, x-warden

#1079 disable block instead of hiding visually
  spaceward/src/features/dashboard/Actions.tsx
  spaceward/src/pages/Dashboard.tsx
Labels: spaceward

#1078 Automated Orders: use viem and wagmi
  automated-orders/README.md
  automated-orders/packages/blockchain-library/package.json
  automated-orders/packages/blockchain-library/src/clients/evm.ts
  automated-orders/packages/blockchain-library/src/index.ts
  automated-orders/packages/blockchain-library/src/processors/orderProcessor.ts
  automated-orders/packages/blockchain-library/src/types/evm/event.ts
  automated-orders/packages/blockchain-library/src/types/evm/gas.ts
  automated-orders/packages/blockchain-library/src/types/order/events.ts
  automated-orders/packages/blockchain-library/src/types/order/functions.ts
  automated-orders/packages/scheduler/src/config/config.ts
  automated-orders/packages/scheduler/src/config/env.ts
  automated-orders/packages/scheduler/src/index.ts
  automated-orders/packages/scheduler/tsconfig.json
  automated-orders/yarn.lock
Labels: basic-automated-orders

#974 905 cleanup upgrades and migrations
  go.mod
  warden/app/app.go
  warden/app/oracle.go
  warden/x/act/keeper/msg_server_new_template.go
  warden/x/act/keeper/msg_server_update_template.go
  warden/x/act/keeper/query_simulate_template.go
  warden/x/act/keeper/query_simulate_template_test.go
  warden/x/act/keeper/query_template_by_id.go
  warden/x/act/keeper/query_templates.go
  warden/x/act/keeper/templates.go
  warden/x/act/types/v1beta1/template.go
Labels: protocol, test
