Repository warden-protocol/wardenprotocol, pull requests merged in 2024-03, with the labels that each got.

#47 fix(spaceward): signature request modal stuck on awaiting approvals
  spaceward/src/components/signature-request-dialog.tsx
  spaceward/src/hooks/useRequestTransactionSignature.tsx
Labels: spaceward

#48 feat(spaceward): Total asset value
  spaceward/public/logos/aave.svg
  spaceward/src/components/apps.tsx
  spaceward/src/components/home-apps.tsx
  spaceward/src/components/sidebar.tsx
  spaceward/src/components/total-asset-value.tsx
  spaceward/src/routes/home.tsx
Labels: spaceward

#49 feat(spaceward): re-enable total asset value in home
  spaceward/src/components/apps.tsx
  spaceward/src/components/assets.tsx
  spaceward/src/components/home-apps.tsx
  spaceward/src/components/home-assets.tsx
  spaceward/src/components/signature-request-dialog.tsx
  spaceward/src/components/total-asset-value.tsx
  spaceward/src/components/walletconnect.tsx
  spaceward/src/routes/home.tsx
Labels: spaceward

#50 feat(spaceward): changed default theme to dark
  spaceward/src/routes/root.tsx
Labels: spaceward

#51 fix(faucet): can't send multiple txs concurrently
  warden/cmd/faucet/faucet.go
Labels: protocol

#56 fix(spaceward): User feedback bugs
  spaceward/public/logos/pancakeswap.svg
  spaceward/src/components/apps.tsx
  spaceward/src/components/assets.tsx
  spaceward/src/components/home-apps.tsx
  spaceward/src/components/walletconnect.tsx
  spaceward/src/main.css
  spaceward/src/routes/owners.tsx
Labels: spaceward

#57 feat(spaceward): add grafana Faro for metrics and error reporting
  spaceward/package.json
  spaceward/pnpm-lock.yaml
  spaceward/src/main.tsx
Labels: spaceward

#61 feat(spaceward): added maintenance flag
  Dockerfile
  spaceward/entrypoint.sh
  spaceward/src/env.ts
  spaceward/src/routes/root.tsx
Labels: spaceward

#63 feat(spaceward): added plausible integration
  spaceward/package.json
  spaceward/pnpm-lock.yaml
  spaceward/src/routes/root.tsx
Labels: spaceward

#64 chore: disable temporarily faro analytics
  spaceward/src/main.tsx
Labels: spaceward

#66 feat(faucet): batch multiple send in one tx
  warden/cmd/faucet/faucet.go
Labels: protocol

#69 build: cleanup and add Makefile
  .github/workflows/wardend.yml
  .github/workflows/wardenkms.yml
  Dockerfile
  Makefile
  cmd/faucet/faucet.go
  cmd/wardend/cmd/commands.go
  cmd/wardend/cmd/config.go
  cmd/wardend/cmd/root.go
  cmd/wardend/main.go
  cmd/wardenkms/bip44.go
  cmd/wardenkms/wardenkms.go
  docs/developers/installation.md
Labels: docs

#70 feat(spaceward): added test for Plausible events
  spaceward/package.json
  spaceward/pnpm-lock.yaml
  spaceward/src/components/faucet-button.tsx
  spaceward/src/components/intents.tsx
  spaceward/src/components/keys.tsx
  spaceward/src/routes/root.tsx
Labels: spaceward

#79 feat(wardend): implement ExportGenesisState for `warden` module
  api/warden/warden/genesis.pulsar.go
  proto/warden/warden/genesis.proto
  warden/repo/seqcollection.go
  warden/x/warden/keeper/genesis.go
  warden/x/warden/module/genesis.go
  warden/x/warden/types/genesis.pb.go
Labels: protocol, sdk-module

#84 docs: missing quote in JSON example
  docs/docs/validate/creating-validator.md
Labels: docs

#83 feat: initial MetaMask Snap version
  Dockerfile
  cmd/wardenkms/bip44.go
  docs/docs/developers/metamask-snap-accounts-preview.jpg
  docs/docs/developers/metamask-snap.md
  package-lock.json
  package.json
  snap/.eslintrc.js
  snap/.gitignore
  snap/README.md
  snap/images/icon.svg
  snap/jest.config.js
  snap/package-lock.json
  snap/package.json
  snap/snap.config.ts
  snap/snap.manifest.json
  snap/src/index.ts
  snap/src/keyring.ts
  snap/src/state.ts
  snap/tsconfig.json
  spaceward/entrypoint.sh
  spaceward/package.json
  spaceward/pnpm-lock.yaml
  spaceward/src/components/add-to-metamask-button.tsx
  spaceward/src/components/install-metamask-snap-button.tsx
  spaceward/src/components/keys.tsx
  spaceward/src/components/metamask-requests.tsx
  spaceward/src/components/site-header.tsx
  spaceward/src/components/walletconnect.tsx
  spaceward/src/def-hooks/MetaMaskContext.tsx
  spaceward/src/def-hooks/useMetaMask.tsx
  spaceward/src/def-hooks/useMetaMaskContext.ts
  spaceward/src/def-hooks/useMetaMaskRequest.ts
  spaceward/src/def-hooks/useMetaMaskRequestSnap.ts
  spaceward/src/env.ts
  spaceward/src/hooks/useRequestTransactionSignature.tsx
  spaceward/src/lib/metamask.ts
  spaceward/src/main.tsx
  spaceward/src/window.d.ts
Labels: docs, spaceward

#88 fix(spaceward): added maintenance pages as temp fix
  spaceward/src/routes/root.tsx
Labels: spaceward

#89 fix(spaceward): removed temp flag
  spaceward/src/routes/root.tsx
Labels: spaceward

#93 feat(keychain-sdk): make gas limit configurable
  cmd/wardenkms/wardenkms.go
  keychain-sdk/config.go
  keychain-sdk/keychain.go
  keychain-sdk/writer.go
Labels: keychain

#95 feat(spaceward): added storyblok maintenance flag and local chain support
  Dockerfile
  spaceward/package.json
  spaceward/pnpm-lock.yaml
  spaceward/src/components/connect-wallet.tsx
  spaceward/src/components/metamask-requests.tsx
  spaceward/src/components/no-active-space.tsx
  spaceward/src/components/wallet/Wallet.tsx
  spaceward/src/components/walletconnect.tsx
  spaceward/src/config/chains.ts
  spaceward/src/def-hooks/walletContext.tsx
  spaceward/src/env.ts
  spaceward/src/main.tsx
  spaceward/src/routes/root.tsx
Labels: spaceward

#103 docs: add tutorial for using MetaMask Snap
  docs/docs/learn/spaceward/tutorial-warden-metamask-snap.md
Labels: docs

#107 fix(wardend): wrong type URLs after changing protobuf paths
  warden/x/warden/keeper/msg_server.go
Labels: protocol, sdk-module

#108 feat(wardend): add cli commands for approving/rejecting key requests
  warden/x/warden/client/cli/tx.go
  warden/x/warden/module/autocli.go
  warden/x/warden/module/module.go
Labels: protocol, sdk-module

#106 Update tutorial-warden-metamask-snap.md
  docs/docs/learn/spaceward/tutorial-warden-metamask-snap.md
Labels: docs

#114 fix(spaceward): updated project id for CosmosKit
  spaceward/src/main.tsx
Labels: spaceward

#116 fix(x/intent): v0.2 migration broke ActionsByAddress query
  warden/x/intent/keeper/query_actions_by_address.go
  warden/x/intent/migrations/v2/store.go
Labels: protocol, intent

#122 feat(x/warden): refactor and improve perf for SpacesByOwner query
  warden/x/warden/keeper/genesis.go
  warden/x/warden/keeper/keeper.go
  warden/x/warden/keeper/msg_new_space.go
  warden/x/warden/keeper/msg_server_add_space_owner.go
  warden/x/warden/keeper/msg_server_new_key_request.go
  warden/x/warden/keeper/msg_server_new_sign_transaction_request.go
  warden/x/warden/keeper/msg_server_new_signature_request.go
  warden/x/warden/keeper/msg_server_remove_space_owner.go
  warden/x/warden/keeper/msg_server_update_key.go
  warden/x/warden/keeper/msg_server_update_space.go
  warden/x/warden/keeper/query_space_by_address.go
  warden/x/warden/keeper/query_spaces.go
  warden/x/warden/keeper/query_spaces_by_owner.go
  warden/x/warden/keeper/spaces.go
  warden/x/warden/migrations/v2/store.go
Labels: protocol, sdk-module

#123 fix(spaceward): replace action.intent_id with action.intent.id
  spaceward/src/components/actions.tsx
Labels: spaceward

#124 fix(x/warden): tried to add owners before creating Space ID
  warden/x/warden/keeper/spaces.go
Labels: protocol, sdk-module

#125 Update tutorial-warden-metamask-snap.md
  docs/docs/learn/spaceward/tutorial-warden-metamask-snap.md
Labels: docs

#126 docs(keychain-sdk): add quickstart
  docs/docs/developers/keychain-sdk/README.md
  docs/docs/developers/keychain-sdk/_category_.json
  docs/docs/developers/keychain-sdk/quickstart.md
  docs/docs/developers/migration/wardend-v0.2.0-upgrade.md
  docs/docs/developers/runbooks/run-local-chain.md
  docs/docs/learn/Keychains/Keychains_General_Concepts.md
  docs/docs/learn/keychains/Keychain Onboarding.md
  docs/docs/learn/keychains/README.md
  docs/docs/learn/keychains/_category_.json
Labels: docs

#127 docs: add CHANGELOG.md
  .github/workflows/changelog-reminder.yml
  CHANGELOG.md
  spaceward/CHANGELOG.md
Labels: spaceward

#128 docs(adr): start ADRs section with draft for Keychain locking mechanism
  docs/docs/developers/architecture/PROCESS.md
  docs/docs/developers/architecture/README.md
  docs/docs/developers/architecture/_category_.json
  docs/docs/developers/architecture/adr-001-keychain-slashing-locking.md
  docs/docs/developers/architecture/adr-template.md
  docs/docusaurus.config.ts
Labels: docs

#130 fix(spaceward): fix for WC space selector issue and other UI fixes
  docs/static/openapi.yml
  spaceward/src/components/actions.tsx
  spaceward/src/components/connect-wallet.tsx
  spaceward/src/components/keys.tsx
  spaceward/src/components/sidebar.tsx
  spaceward/src/components/wallet/Connect.tsx
  spaceward/src/components/wallet/Wallet.tsx
  spaceward/src/components/walletconnect.tsx
Labels: docs, spaceward

#133 Create airdrop-stages.md
  docs/docs/ward/airdrop-stages.md
Labels: docs
