Repository warden-protocol/wardenprotocol, pull requests merged in 2025-05, with the labels that each got.

#1482 add FIELD_NO_DELETE_UNLESS_NUMBER_RESERVED to buf breaking rules
  proto/buf.yaml
Labels: protobuf

#1491 exclude FIELD_NO_DELETE from buf breaking rules
  proto/buf.yaml
Labels: protobuf

#1501 fix(go-client): handling of EthAccounts in AuthQueryClient
  CHANGELOG.md
  go-client/query_client_auth.go
Labels: go-client

#1503 Docs chiado 063
  docs/developer-docs/docs/build-an-app/set-up-a-warden-account.md
  docs/developer-docs/docs/learn/warden-networks.md
  docs/developer-docs/docs/operate-a-node/chiado-testnet/chiado-overview.md
  docs/developer-docs/docs/operate-a-node/chiado-testnet/join-chiado.md
  docs/developer-docs/docs/operate-a-node/chiado-testnet/upgrade/v0.6.3.md
Labels: docs

#1516 [Snyk] Fix for 1 vulnerabilities
  docs/help-center/package-lock.json
  docs/help-center/package.json
Labels: docs

#1493 Add JSON precompile to HTTP guide.
  docs/developer-docs/docs/build-an-app/run-offchain-computations/use-the-http-plugin/extract-data.md
  docs/developer-docs/docs/build-an-app/run-offchain-computations/use-the-http-plugin/fetch-multiple-prices.md
  docs/developer-docs/docs/build-an-app/run-offchain-computations/use-the-http-plugin/implement-http-requests.md
  docs/developer-docs/docs/build-an-app/run-offchain-computations/use-the-http-plugin/introduction.md
  docs/developer-docs/docs/build-an-app/run-offchain-computations/use-the-http-plugin/set-up-the-environment.md
Labels: docs

#1506 fix(x/async): improve error message when there are no solvers registered for a plugin
  CHANGELOG.md
  warden/x/async/keeper/msg_server_add_task.go
  warden/x/async/types/v1beta1/errors.go
Labels: protocol
