Repository warden-protocol/wardenprotocol, pull requests merged in 2025-07, with the labels that each got.

#1583 Fix Typos in UI Text and Error Messages
  spaceward/src/features/modals/CreateKey.tsx
  spaceward/src/utils/contract.tsx
Labels: spaceward

#1607 fix(wardend): register legacy amino codec in legacytx too
  warden/app/config.go
Labels: protocol

#1615 Problem: no test for AccAddress in Keychain
  warden/x/warden/types/v1beta3/keychain_test.go
Labels: protocol, test, x-warden

#1621 build: use docker multi-platform builds instead of goreleaser
  .dockerignore
  .github/workflows/release-dev.yml
  cmd/faucet/.goreleaser.yaml
  cmd/faucet/Dockerfile
  cmd/wardend/.goreleaser.yaml
  cmd/wardend/Dockerfile
  cmd/wardenkms/.goreleaser.yaml
  cmd/wardenkms/Dockerfile
  justfile
  wardend.just
Labels: wardenkms

#1636 docs (implement-automated-orders.md): add preposition before "the registry"
  docs/developer-docs/docs/build-an-agent/build-an-onchain-ai-agent/implement-automated-orders.md
Labels: docs
