Repository warden-protocol/wardenprotocol, pull requests merged in 2025-02, with the labels that each got.

#1202 Async onchain handlers registry
  CHANGELOG.md
  api/warden/async/v1beta1/handler.pulsar.go
  api/warden/async/v1beta1/query.pulsar.go
  api/warden/async/v1beta1/tx.pulsar.go
  proto/warden/async/v1beta1/handler.proto
  proto/warden/async/v1beta1/query.proto
  proto/warden/async/v1beta1/tx.proto
  warden/x/async/keeper/handlers.go
  warden/x/async/keeper/keeper.go
  warden/x/async/keeper/msg_server_add_handler.go
  warden/x/async/keeper/query_handlers.go
  warden/x/async/keeper/query_handlers_by_validator.go
  warden/x/async/keeper/query_validators_by_handler.go
  warden/x/async/types/v1beta1/handler.pb.go
  warden/x/async/types/v1beta1/query.pb.go
  warden/x/async/types/v1beta1/tx.pb.go
Labels: protocol, protobuf

#1201 1185 add dynamic abi types generator for pricepred handler
  prophet/handlers/pricepred/PricePredictor.sol
  prophet/handlers/pricepred/pricepred.go
  prophet/handlers/pricepred/pricepred_bindings.go
  prophet/handlers/pricepred/pricepred_test.go
  prophet/justfile
Labels: test

#1204 1183 implement verify for pricepredict future handler
  prophet/handlers/pricepred/PricePredictor.sol
  prophet/handlers/pricepred/client.go
  prophet/handlers/pricepred/client_test.go
  prophet/handlers/pricepred/pricepred.go
  prophet/handlers/pricepred/pricepred_bindings.go
  prophet/handlers/pricepred/pricepred_test.go
Labels: test

#1208 [Snyk] Security upgrade wagmi from 2.9.7 to 2.12.23
  spaceward/package.json
  spaceward/pnpm-lock.yaml
Labels: spaceward

#1245 1219 Fix race condition when two vals add result to a future
  CHANGELOG.md
  warden/x/async/keeper/abci.go
  warden/x/async/keeper/futures.go
  warden/x/async/types/v1beta1/errors.go
Labels: protocol

#1209 1185 add generalized dynamic abi types generator
  precompiles/act/IAct.go
  precompiles/justfile
  precompiles/slinky/ISlinky.go
  precompiles/warden/IWarden.go
  prophet/handlers/stoicquote/generated/StoicQuote.sol
  prophet/handlers/stoicquote/generated/stoicquote_bindings.go
  prophet/handlers/stoicquote/stoicquote.go
  prophet/handlers/stoicquote/stoicquote_test.go
  prophet/justfile
  soliditygen/cmd/cmd.go
  soliditygen/generator.go
  soliditygen/generator_test.go
Labels: test

#1249 fix: typos in documentation files
  warden/docs/static/openapi.yml
  warden/x/act/types/v1beta0/action.pb.go
Labels: protocol

#1250 fix: typos in documentation files
  wardenjs/proto/cosmos/auth/v1beta1/genesis.proto
  wardenjs/proto/cosmos/bank/v1beta1/genesis.proto
  wardenjs/proto/cosmos/distribution/v1beta1/genesis.proto
Labels: wardenjs

#1251 fix: fix minor typo in authorization description
  warden/docs/static/openapi.yml
Labels: protocol

#1241 fix: broken link `wardenjs/README.md`
  wardenjs/README.md
Labels: wardenjs

#1243 Grammar and Consistency Fixes in Documentation
  docs/developer-docs/docs/learn/whitepaper.md
  docs/developer-docs/docs/operate-a-node/create-a-validator.md
  docs/developer-docs/docs/operate-a-node/node-commands.md
Labels: docs

#1256 Grammar fixes
  docs/developer-docs/docs/learn/bridging.md
  docs/developer-docs/docs/operate-a-node/delegation-plan.md
Labels: docs

#1257 fix typo: Change `verison` to `version` in OpenAPI documentation
  spaceward/src/features/intents/Intent.tsx
  warden/docs/static/openapi.yml
Labels: protocol, spaceward

#1258 fix typo in `genesis.proto` comments
  wardenjs/proto/cosmos/gov/v1/genesis.proto
Labels: wardenjs

#1240 feat: enable multiarch builds for wardend
  .github/workflows/deploy_testnet.yml
  .github/workflows/faucet.yml
  .github/workflows/release-wardend.yaml
  .github/workflows/wardend.yaml
  .github/workflows/wasmvm-linter.yml
  .goreleaser-amd64.yaml
  .goreleaser.yaml
  Dockerfile-releaser
  cmd/wasmvm-linter/main.go
  wardend.just
Labels: enhancement

#1272 fix(ci): tests and linting failing due to missing env var
  .github/workflows/wardend.yaml
  wardend.just
Labels: bug

#1248 1186 callback to contract after future becomes ready
  CHANGELOG.md
  api/warden/async/v1beta1/events.pulsar.go
  api/warden/async/v1beta1/future.pulsar.go
  api/warden/async/v1beta1/tx.pulsar.go
  precompiles/async/IAsync.go
  precompiles/async/IAsync.sol
  precompiles/async/abi.json
  precompiles/async/events.go
  precompiles/async/tx.go
  precompiles/callbacks/IAsyncCallback.go
  precompiles/callbacks/IAsyncCallback.sol
  precompiles/callbacks/abiAsyncCallback.json
  precompiles/justfile
  proto/warden/async/v1beta1/events.proto
  proto/warden/async/v1beta1/future.proto
  proto/warden/async/v1beta1/tx.proto
  tests/cases/async_precompile.go
  warden/testutil/keeper/async.go
  warden/x/async/keeper/keeper.go
  warden/x/async/keeper/msg_server_add_future.go
  warden/x/async/module/module.go
  warden/x/async/types/v1beta1/callback.pb.go
  warden/x/async/types/v1beta1/errors.go
  warden/x/async/types/v1beta1/events.pb.go
  warden/x/async/types/v1beta1/expected_keepers.go
  warden/x/async/types/v1beta1/future.pb.go
  warden/x/async/types/v1beta1/tx.pb.go
Labels: protocol, protobuf

#1262 save cons address in prophet on start
  CHANGELOG.md
  prophet/prophet.go
  warden/app/app.go
Labels: protocol

#1244 1187 Implement arbitrary http handler with example
  .gitignore
  cmd/wardend/cmd/config.go
  go.mod
  go.sum
  prophet/abiutil.go
  prophet/handlers/http/Http.sol
  prophet/handlers/http/config/config.go
  prophet/handlers/http/generated/http_bindings.go
  prophet/handlers/http/http.go
  prophet/handlers/http/http_test.go
  prophet/handlers/pricepred/PricePredictor.sol
  prophet/handlers/pricepred/pricepred.go
  prophet/handlers/pricepred/pricepred_bindings.go
  prophet/handlers/pricepred/pricepred_test.go
  prophet/handlers/stoicquote/stoicquote.go
  prophet/handlers/stoicquote/stoicquote_test.go
  prophet/justfile
  warden/app/app.go
Labels: protocol, test

#1216 1184 register validator handlers by vote extension
  CHANGELOG.md
  api/warden/async/v1beta1/handler.pulsar.go
  api/warden/async/v1beta1/query.pulsar.go
  api/warden/async/v1beta1/query_grpc.pb.go
  api/warden/async/v1beta1/tx.pulsar.go
  api/warden/async/v1beta1/ve.pulsar.go
  prophet/registry.go
  proto/warden/async/v1beta1/handler.proto
  proto/warden/async/v1beta1/query.proto
  proto/warden/async/v1beta1/tx.proto
  proto/warden/async/v1beta1/ve.proto
  warden/x/async/keeper/abci.go
  warden/x/async/keeper/handlers.go
  warden/x/async/keeper/keeper.go
  warden/x/async/keeper/msg_server_add_handler.go
  warden/x/async/keeper/query_handlers.go
  warden/x/async/keeper/query_handlers_by_validator.go
  warden/x/async/keeper/query_validators_by_handler.go
  warden/x/async/types/v1beta1/query.pb.go
  warden/x/async/types/v1beta1/query.pb.gw.go
  warden/x/async/types/v1beta1/tx.pb.go
  warden/x/async/types/v1beta1/ve.pb.go
Labels: protocol, protobuf

#1269 #1220 Future verification step
  prophet/dedup.go
  prophet/prophet.go
  warden/x/async/keeper/abci.go
  warden/x/async/keeper/keeper.go
Labels: protocol
