Repository warden-protocol/wardenprotocol, pull requests merged in 2025-04, with the labels that each got.

#1414 chore: remove unused faucet-v2 binary
  cmd/faucet-v2/client.go
  cmd/faucet-v2/html.go
  cmd/faucet-v2/ip.go
  cmd/faucet-v2/limiter.go
  cmd/faucet-v2/main.go
  cmd/faucet-v2/metrics.go
Labels: protocol

#1425 chore(wardenjs): regen
  spaceward/pnpm-lock.yaml
  wardenjs/package.json
  wardenjs/pnpm-lock.yaml
  wardenjs/src/codegen/warden/async/v1beta1/events.ts
  wardenjs/src/codegen/warden/async/v1beta1/query.lcd.ts
  wardenjs/src/codegen/warden/async/v1beta1/query.rpc.Query.ts
  wardenjs/src/codegen/warden/async/v1beta1/query.ts
  wardenjs/src/codegen/warden/async/v1beta1/task.ts
  wardenjs/src/codegen/warden/async/v1beta1/tx.amino.ts
  wardenjs/src/codegen/warden/async/v1beta1/tx.registry.ts
  wardenjs/src/codegen/warden/async/v1beta1/tx.rpc.msg.ts
  wardenjs/src/codegen/warden/async/v1beta1/tx.ts
  wardenjs/src/codegen/warden/async/v1beta1/ve.ts
  wardenjs/src/codegen/warden/bundle.ts
Labels: spaceward, wardenjs

#1426 chore(x/async): rename files referencing futures and handlers
  warden/x/async/keeper/msg_server_add_task.go
  warden/x/async/keeper/query_pending_tasks.go
  warden/x/async/keeper/query_plugins_by_validator.go
  warden/x/async/keeper/query_tasks.go
  warden/x/async/keeper/tasks.go
Labels: protocol

#1435 changed license for x/async
  README.md
  proto/warden/async/module/module.proto
  proto/warden/async/v1beta1/events.proto
  proto/warden/async/v1beta1/genesis.proto
  proto/warden/async/v1beta1/params.proto
  proto/warden/async/v1beta1/query.proto
  proto/warden/async/v1beta1/task.proto
  proto/warden/async/v1beta1/tx.proto
  proto/warden/async/v1beta1/ve.proto
  warden/x/async/LICENSE
  warden/x/async/README.md
  warden/x/async/keeper/abci.go
  warden/x/async/keeper/abci_test.go
  warden/x/async/keeper/genesis.go
  warden/x/async/keeper/keeper.go
  warden/x/async/keeper/migrations.go
  warden/x/async/keeper/msg_server.go
  warden/x/async/keeper/msg_server_add_task.go
  warden/x/async/keeper/msg_server_test.go
  warden/x/async/keeper/msg_server_update_params.go
  warden/x/async/keeper/msg_server_update_params_test.go
  warden/x/async/keeper/params.go
  warden/x/async/keeper/params_test.go
  warden/x/async/keeper/query.go
  warden/x/async/keeper/query_future_by_id.go
  warden/x/async/keeper/query_params.go
  warden/x/async/keeper/query_params_test.go
  warden/x/async/keeper/query_pending_tasks.go
  warden/x/async/keeper/query_plugins_by_validator.go
  warden/x/async/keeper/query_tasks.go
  warden/x/async/keeper/tasks.go
  warden/x/async/module/autocli.go
  warden/x/async/module/genesis.go
  warden/x/async/module/genesis_test.go
  warden/x/async/module/module.go
  warden/x/async/module/simulation.go
  warden/x/async/simulation/helpers.go
  warden/x/async/types/v1beta1/codec.go
  warden/x/async/types/v1beta1/errors.go
  warden/x/async/types/v1beta1/expected_keepers.go
  warden/x/async/types/v1beta1/genesis.go
  warden/x/async/types/v1beta1/keys.go
  warden/x/async/types/v1beta1/params.go
  warden/x/async/types/v1beta1/task.go
Labels: protocol, protobuf, test

#1439 feat(kms): add possibility to use different denoms
  cmd/wardenkms/wardenkms.go
Labels: wardenkms

#1441 chore(tests): regen snaphots
  tests/testdata/snapshot-base/config/app.toml.tmpl
  tests/testdata/snapshot-base/config/genesis.json
  tests/testdata/snapshot-base/config/gentx/gentx-1f81f9dfef20b1a6ce69d9e0290828e68f1640cb.json
  tests/testdata/snapshot-base/config/gentx/gentx-a0982f89cb0e45a16f11b8249aef3f6460d7651d.json
  tests/testdata/snapshot-base/config/node_key.json
  tests/testdata/snapshot-base/config/priv_validator_key.json
  tests/testdata/snapshot-base/keyring-test/064ea8f97c43074656fb6ffb5a20f07486fa88b1.address
  tests/testdata/snapshot-base/keyring-test/87d9c3bab0a861ab0487891ac0ad3dcab4a59374.address
  tests/testdata/snapshot-base/keyring-test/alice.info
  tests/testdata/snapshot-keychain/config/app.toml.tmpl
  tests/testdata/snapshot-keychain/config/genesis.json
  tests/testdata/snapshot-keychain/config/gentx/gentx-d7bec7715353e6f1554314ef97f23df4e88d8a0c.json
  tests/testdata/snapshot-keychain/config/gentx/gentx-da83b9365dd29a0cea789da7f7cfed5a3c94e909.json
  tests/testdata/snapshot-keychain/config/node_key.json
  tests/testdata/snapshot-keychain/config/priv_validator_key.json
  tests/testdata/snapshot-keychain/keyring-test/112ee6bf4992993e241f64fd538e49ec58b3786b.address
  tests/testdata/snapshot-keychain/keyring-test/1e2614eb15781053d180bd190582a3445c8a2fb7.address
  tests/testdata/snapshot-keychain/keyring-test/39aae4e773a77066aa3f559aa53f24edf60a0425.address
  tests/testdata/snapshot-keychain/keyring-test/6f88730dc7d6b0661441eda90154b04c4c67c07f.address
  tests/testdata/snapshot-keychain/keyring-test/a8f44773886b082d9b4c7232cc17e47b387c6dd5.address
  tests/testdata/snapshot-keychain/keyring-test/bob.info
  tests/testdata/snapshot-keychain/keyring-test/c461c241f5f50de2707426a509fdc5a3fc701da4.address
  tests/testdata/snapshot-keychain/keyring-test/val.info
  tests/testdata/snapshot-keychain/keyring-test/writer.info
  tests/testdata/snapshot-many-users/config/app.toml.tmpl
  tests/testdata/snapshot-many-users/config/genesis.json
  tests/testdata/snapshot-many-users/config/gentx/gentx-363aed1a0db2e101a04eeef57908956a05f89850.json
  tests/testdata/snapshot-many-users/config/gentx/gentx-e96b35be9ab78d977b79386b9e90b21bf35816be.json
  tests/testdata/snapshot-many-users/config/node_key.json
  tests/testdata/snapshot-many-users/config/priv_validator_key.json
  tests/testdata/snapshot-many-users/keyring-test/228dc3836e99c406160526f67ea12f3490e3be8f.address
  tests/testdata/snapshot-many-users/keyring-test/3561b179a3458a8ed9e869dc7543171890ff1de6.address
  tests/testdata/snapshot-many-users/keyring-test/3d23709c5c3ac8fd5caf326a722f80fbf88feb98.address
  tests/testdata/snapshot-many-users/keyring-test/45c2e85e71517fc064edd4cb4acd342a37fd9ccd.address
  tests/testdata/snapshot-many-users/keyring-test/91b35fdec5e6da58356b585f9d35bfab62ca2806.address
  tests/testdata/snapshot-many-users/keyring-test/9d0960ab57401086ae7dc3295abda6d7d19d1fb4.address
  tests/testdata/snapshot-many-users/keyring-test/9e3ca132ba84093991ec009b08fc535ed7fc439d.address
  tests/testdata/snapshot-many-users/keyring-test/a2cd29ceb012ebd34d521731de6d356b1be6dd7b.address
  tests/testdata/snapshot-many-users/keyring-test/ac3f01ada9b162875e943a06e3539bf96b12c67c.address
  tests/testdata/snapshot-many-users/keyring-test/alice.info
  tests/testdata/snapshot-many-users/keyring-test/bob.info
  tests/testdata/snapshot-many-users/keyring-test/charlie.info
  tests/testdata/snapshot-many-users/keyring-test/d1b101900c8752b0228df4c722d9dee39681f269.address
  tests/testdata/snapshot-many-users/keyring-test/dave.info
  tests/testdata/snapshot-many-users/keyring-test/ef172ffad18690d18e0e209c53872441abc26847.address
  tests/testdata/snapshot-many-users/keyring-test/erin.info
  tests/testdata/snapshot-many-users/keyring-test/f93edf435017c754770901758a6447b4220f9298.address
  tests/testdata/snapshot-many-users/keyring-test/frank.info
Labels: protocol

#1447 feat(spaceward): add docas network
  spaceward/src/config/chains.ts
Labels: spaceward

#1453 feat(wardend): prepare release v0.6.3
  CHANGELOG.md
  warden/app/app.go
Labels: protocol

#1461 1385 Task Fees
  CHANGELOG.md
  api/warden/async/v1beta1/plugin.pulsar.go
  api/warden/async/v1beta1/task.pulsar.go
  api/warden/async/v1beta1/tx.pulsar.go
  precompiles/async/IAsync.go
  precompiles/async/IAsync.sol
  precompiles/async/abi.json
  precompiles/async/async.go
  precompiles/async/tx.go
  precompiles/async/types.go
  precompiles/warden/tx_types.go
  proto/warden/async/v1beta1/plugin.proto
  proto/warden/async/v1beta1/task.proto
  proto/warden/async/v1beta1/tx.proto
  tests/cases/async_precompile.go
  warden/testutil/keeper/async.go
  warden/x/async/keeper/genesis.go
  warden/x/async/keeper/keeper.go
  warden/x/async/keeper/msg_server_add_task.go
  warden/x/async/keeper/plugin.go
  warden/x/async/module/module.go
  warden/x/async/types/v1beta1/errors.go
  warden/x/async/types/v1beta1/expected_keepers.go
  warden/x/async/types/v1beta1/plugin.go
  warden/x/async/types/v1beta1/plugin.pb.go
  warden/x/async/types/v1beta1/plugin_fees.go
  warden/x/async/types/v1beta1/plugin_fees_test.go
  warden/x/async/types/v1beta1/task.pb.go
  warden/x/async/types/v1beta1/tx.pb.go
Labels: protocol, protobuf, test

#1466 1463 Remove CBOR
  go.mod
  go.sum
  precompiles/async/IAsync.sol
  prophet/plugins/http/example/HttpExample.sol
  prophet/plugins/http/example/remappings.txt
  prophet/plugins/http/example/run-example.sh
  prophet/plugins/http/http.go
  prophet/plugins/http/http_test.go
Labels: test
