Repository warden-protocol/wardenprotocol, pull requests merged in 2025-06, with the labels that each got.

#1508 feat(x/async): initial version of a venice.ai plugin
  CHANGELOG.md
  cmd/wardend/cmd/config.go
  localnet.just
  prophet/plugins/venice/config/config.go
  prophet/plugins/venice/venice.go
  warden/app/app.go
Labels: protocol

#1546 feat: remove deprecated module x/crisis
  CHANGELOG.md
  cmd/wardend/cmd/commands.go
  localnet.just
  tests/framework/exec/warden_node.go
  tests/testdata/snapshot-base/config/genesis.json
  tests/testdata/snapshot-keychain/config/genesis.json
  tests/testdata/snapshot-many-users/config/genesis.json
  warden/app/app.go
  warden/app/app_config.go
  warden/app/export.go
  warden/app/sim_bench_test.go
Labels: protocol, test

#1555 [Snyk] Fix for 1 vulnerabilities
  docs/developer-docs/package-lock.json
  docs/developer-docs/package.json
Labels: docs

#1563 use applyTransaction instead of applyMessage for callbacks
  warden/x/sched/keeper/keeper.go
Labels: protocol

#1571 Cosmos EVM 1.0.0 rc2
  go.mod
  go.sum
  localnet.just
  precompiles/act/act.go
  precompiles/async/async.go
  precompiles/json/json.go
  precompiles/sched/sched.go
  precompiles/slinky/slinky.go
  precompiles/warden/warden.go
  tests/justfile
  tests/testdata/snapshot-base/config/app.toml.tmpl
  tests/testdata/snapshot-keychain/config/app.toml.tmpl
  tests/testdata/snapshot-many-users/config/app.toml.tmpl
  warden/app/app.go
  warden/app/export.go
  warden/app/legacy.go
Labels: protocol

#1584 fix(x/sched): build valid sdk.Coins when callback fees are zero
  CHANGELOG.md
  warden/x/sched/keeper/keeper.go
Labels: protocol

#1588 feat(x/async): add governance proposal MsgAddPlugin
  CHANGELOG.md
  api/warden/async/v1beta1/tx.pulsar.go
  api/warden/async/v1beta1/tx_grpc.pb.go
  proto/warden/async/v1beta1/tx.proto
  warden/x/async/keeper/genesis.go
  warden/x/async/keeper/keeper.go
  warden/x/async/keeper/msg_server_add_plugin.go
  warden/x/async/types/v1beta1/tx.pb.go
Labels: protocol, protobuf

#1592 fix(wardend): use our cosmos/evm fork
  go.mod
  go.sum
Labels: protocol
