Repository warden-protocol/wardenprotocol, pull requests merged in 2025-01, with the labels that each got.

#1172 return future result by its id
  api/warden/async/v1beta1/query.pulsar.go
  precompiles/async/IAsync.go
  precompiles/async/IAsync.sol
  precompiles/async/abi.json
  precompiles/async/types.go
  proto/warden/async/v1beta1/query.proto
  warden/x/async/keeper/query_future_by_id.go
  warden/x/async/types/v1beta1/query.pb.go
Labels: protocol, protobuf

#1174 fix(wardend): don't return errors on empty vote extension
  warden/app/oracle.go
Labels: protocol

#1168 feat(prophet): pricepred model handler
  prophet/handlers/pricepred/pricepred.go
  prophet/handlers/pricepred/pricepred_test.go
  warden/app/app.go
Labels: protocol, test

#1182 Docs advance agent overhaul
  docs/developer-docs/docs/build-an-agent/execution-agent/implement-automated-orders-with-price-prediction/deploy-an-order.md
  docs/developer-docs/docs/build-an-agent/execution-agent/implement-automated-orders-with-price-prediction/implement-orders.md
  docs/developer-docs/docs/build-an-agent/execution-agent/implement-automated-orders-with-price-prediction/implement-the-creation-of-orders.md
  docs/developer-docs/docs/build-an-agent/execution-agent/implement-automated-orders-with-price-prediction/introduction.md
  docs/developer-docs/docs/build-an-agent/execution-agent/implement-automated-orders-with-price-prediction/prerequisites.md
  docs/developer-docs/docs/build-an-agent/execution-agent/implement-automated-orders-with-price-prediction/summary.md
Labels: docs

#1181 make date and falsePositiveRate parametrized for pricepred handler
  cmd/wardend/cmd/config.go
  prophet/handlers/pricepred/config/config.go
  prophet/handlers/pricepred/pricepred.go
  prophet/handlers/pricepred/pricepred_test.go
  solidity/orders/broadcast/Deploy.s.sol/12345/latest.json
  solidity/orders/broadcast/Deploy.s.sol/12345/run-latest.json
  solidity/orders/script/CreateOrder.s.sol
  solidity/orders/src/AdvancedOrder.sol
  solidity/orders/src/Types.sol
  warden/app/app.go
Labels: protocol, test

#1193 Update whitelists.ts
  spaceward/src/config/whitelists.ts
Labels: spaceward

#1200 fix(docs): minor fixes to intro and sample code
  docs/developer-docs/docs/build-an-agent/warden-agent-kit/add-agent-capabilities.md
  docs/developer-docs/docs/build-an-agent/warden-agent-kit/introduction.md
Labels: docs

#1148 [Snyk] Fix for 1 vulnerabilities
  docs/help-center/package-lock.json
  docs/help-center/package.json
Labels: docs

#1142 [Snyk] Security upgrade @docusaurus/plugin-google-tag-manager from 3.5.1 to 3.6.0
  docs/developer-docs/package-lock.json
  docs/developer-docs/package.json
Labels: docs
