Repository warden-protocol/wardenprotocol, pull requests merged in 2025-03, with the labels that each got.

#1214 chore(wardend): prepare v0.6.0 upgrade
  CHANGELOG.md
  warden/app/app.go
Labels: protocol

#1311 fix(x/act): use constant formatting strings when wrapping errors
  CHANGELOG.md
  warden/x/act/keeper/actions.go
Labels: protocol

#1310 fix(wardend): handle Slinky VE during v0.6 upgrade
  CHANGELOG.md
  warden/app/oracle.go
  warden/x/async/keeper/abci.go
Labels: protocol

#1283 Fix 404 erros links
  docs/developer-docs/docs/build-an-app/interact-with-warden-modules/interact-with-x-act/manage-actions.md
  docs/developer-docs/docs/build-an-app/interact-with-warden-modules/interact-with-x-act/manage-rules.md
Labels: docs

#1238 [Snyk] Security upgrade wagmi from 2.12.23 to 2.14.11
  spaceward/package.json
  spaceward/pnpm-lock.yaml
Labels: spaceward

#1335 fix(spaceward): updated abis and args for newSignRequest
  spaceward/src/contracts/actPrecompileAbi.ts
  spaceward/src/contracts/wardenPrecompileAbi.ts
  spaceward/src/hooks/useEthereumTx.tsx
  spaceward/src/hooks/useKeychainSigner.tsx
Labels: spaceward

#1340 [Snyk] Security upgrade @cosmology/lcd from 0.13.5 to 0.14.4
  wardenjs/package.json
  wardenjs/pnpm-lock.yaml
Labels: wardenjs

#1341 [Snyk] Fix for 2 vulnerabilities
  docs/developer-docs/package-lock.json
  docs/developer-docs/package.json
Labels: docs

#1355 chore(wardenkms): fix linter formatting warnings
  cmd/wardenkms/bip44.go
  cmd/wardenkms/wardenkms.go
Labels: wardenkms

#1368 Docs token update
  docs/developer-docs/docs/tokens/ward-token/distribution.md
  docs/developer-docs/docs/tokens/ward-token/supply.md
  docs/developer-docs/docs/tokens/ward-token/ward.md
Labels: docs

#1374 fix spelling issues
  cmd/wardend/cmd/wait.go
  cmd/wardenkms/bip44.go
Labels: wardenkms
